@use "vars" as *;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: "PT Root UI", Arial, sans-serif;
    font-size: 16rem;
    line-height: 1.5;
    color: $black;
  }

  h2 {
    margin-block: 30rem;
    font-size: 32rem;
    color: #171d38;
  }

  h3 {
    @media (width < $bp-md) {
      font-size: 14rem;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  hr {
    height: 1px;
    border: none;
    background: #eeeeee;
    margin-block: 10rem 20rem;
  }
}
