@layer components.card {
  .card {
    background: #fff;
    border: none;
    border-radius: 8px;
    width: calc(24% - 10px);
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: #515cb0;
      transition: width 0.3s ease-in-out;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 10px;
    }

    h3 {
      margin: 0 10px 10px;
      font-size: 1rem;
      font-weight: bold;
      color: #171d38;
    }

    .date-overlay {
      position: absolute;
      top: 10px;
      left: 10px;
      background: linear-gradient(135deg, rgba(81, 92, 176, 0.9), rgba(120, 144, 236, 0.9));
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 0.9em;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      &::after {
        width: 100%;
      }
    }
  }
}
