@layer components.footer {
  .footer {
    background-color: #515cb0;
    color: #fff;
    padding: 40px 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;

    a {
      img {
        max-width: 150px;
        height: auto;
        display: inline-block;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    p {
      margin-bottom: 10px;
    }
  }

  .footer-logos {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
}
