@use "vars" as *;

@layer layout {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  main {
    flex: 1;
  }

  .container {
    width: 100%;
    max-width: 1400px;
    padding: 0 calc((1400px - 1356px) / 2);
    margin: 0 auto;
  }

  .flex {
    &.justify-between {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
    }

    @media (width < $bp-lg) {
      &.justify-between {
        gap: 20px;
      }
    }

    @media (width < $bp-sm) {
      &.justify-between {
        gap: 0;
      }
    }
  }
}
