@use "vars" as *;

@layer layout {
  html {
    scroll-padding-top: calc(var(--header-height) + 65rem);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
  }

  main {
    flex: 1;
  }

  .container {
    width: 100%;
    max-width: 1400rem;
    padding: 0 22rem;
    margin: 0 auto;

    @media (width < $bp-md) {
      padding-right: 16rem;
      padding-left: 16rem;
    }
  }

  .flex {
    display: flex;
    flex-wrap: wrap;

    &.justify-between {
      justify-content: space-between;
    }
  }
}
