@use "vars" as *;

@layer base {
  :root {
    --base-transition: 0.3s ease-in-out;

    --body-color: #{$black};

    font-size: calc(1px / 16px * 1rem);

    @media (width < $bp-2xl) {
      font-size: calc(1px / $bp-2xl * 100vw);
    }

    @media (width < $bp-lg) {
      font-size: 1px;
    }
  }
}
