@use "vars" as *;

@layer base {
  :root {
    font-size: calc(1px / 16px * 1rem);

    @media (width < $bp-2xl) {
      font-size: calc(1px / $bp-2xl * 100vw);
    }

    @media (width < $bp-lg) {
      font-size: calc(1px / $bp-md * 100vw);
    }

    @media (width < $bp-md) {
      font-size: 1px;
    }
  }
}
