// Color styles
$black: #000;
$white: #fff;
$gray: #9a9a9a;
$gray-dark: #7f7f7f;
$red: #ff553e;
$pink: #ff94cc;
$orange: #ff883e;
$blue: #63baff;
$green: #93e479;
$yellow: #ffcc5b;

$yellow-dark: #fbb159; // back of folder
$pink-dark: #f6666c;   // back of folder
$green-dark: #66c847;  // back of folder
$red-dark: #f4462f;    // back of folder
$blue-dark: #48a9f3;   // back of folder
$orange-dark: #f07428; // back of folder

// Layout styles
$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1025px;
$bp-xl: 1200px;
$bp-2xl: 1400px;
$bp-3xl: 1920px;
$bp-4xl: 2560px;

// Effect styles
@mixin shadow-red {
  box-shadow: 6rem 6rem 30rem rgba($red, 0.15);
}

@mixin shadow-yellow {
  box-shadow: 6rem 6rem 30rem rgba($yellow, 0.15);
}

@mixin shadow-green {
  box-shadow: 6rem 6rem 30rem rgba($green, 0.15);
}

@mixin shadow-pink {
  box-shadow: 6rem 6rem 30rem rgba($pink, 0.15);
}

@mixin shadow-blue {
  box-shadow: 6rem 6rem 30rem rgba($blue, 0.15);
}

@mixin shadow-orange {
  box-shadow: 6rem 6rem 30rem rgba($orange, 0.15);
}
