@layer base {}
@layer layout {}
@layer components {}
@layer pages {}
@layer helpers {}
@layer base {
  :root {
    --base-transition: 0.3s ease-in-out;
    --body-color: #000;
    font-size: 0.0625rem;
  }
  @media (width < 1400px) {
    :root {
      font-size: 0.0714285714vw;
    }
  }
  @media (width < 1025px) {
    :root {
      font-size: 1px;
    }
  }
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    font-family: "PT Root UI", Arial, sans-serif;
    font-size: 16rem;
    line-height: 1.5;
    color: var(--body-color);
    overflow: clip;
  }
  h2 {
    margin-block: 30rem;
    font-size: 32rem;
    color: #171d38;
  }
  @media (width < 768px) {
    h3 {
      font-size: 14rem;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  hr {
    height: 1px;
    border: none;
    background: #eeeeee;
    margin-block: 10rem 20rem;
  }
}
@layer layout {
  html {
    scroll-padding-top: calc(var(--header-height) + 65rem);
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
  .container {
    width: 100%;
    max-width: 1400rem;
    padding: 0 22rem;
    margin: 0 auto;
  }
  @media (width < 768px) {
    .container {
      padding-right: 16rem;
      padding-left: 16rem;
    }
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex.justify-between {
    justify-content: space-between;
  }
}
@layer helpers {
  .visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
  }
  .visually-hidden:not(caption) {
    position: absolute !important;
  }
  .visually-hidden-focusable:not(:focus, :focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
  }
  .visually-hidden-focusable:not(:focus, :focus-within):not(caption) {
    position: absolute !important;
  }
}
@layer components.header {
  :root {
    --header-height: 92rem;
  }
  @media (width < 768px) {
    :root {
      --header-height: 74rem;
    }
  }
  .header {
    box-shadow: 6rem 6rem 30rem rgba(99, 186, 255, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
    height: var(--header-height);
    padding: 12rem 0;
    background-color: #fff;
  }
  .header .container {
    display: flex;
    gap: 24rem;
    align-items: center;
    height: 100%;
  }
  .header .logo:nth-child(1) {
    width: 52rem;
  }
  .header .logo:nth-child(2) {
    width: 43rem;
  }
  .header .logo:nth-child(3) {
    width: 143rem;
    margin-left: auto;
  }
  @media (width < 768px) {
    .header .container {
      gap: 14rem;
    }
    .header .logo:nth-child(1) {
      width: 30rem;
    }
    .header .logo:nth-child(2) {
      width: 25rem;
    }
    .header .logo:nth-child(3) {
      width: 83rem;
    }
  }
}
@layer components.footer {
  .footer {
    padding: 50rem 0;
    margin-top: 80rem;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.25;
    color: #fff;
    border-radius: 14rem 14rem 0 0;
    background: #63baff;
  }
  .footer .container {
    display: flex;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }
  @media (width < 768px) {
    .footer .container {
      display: flex;
      flex-direction: column;
      gap: 80rem;
      align-items: initial;
    }
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 22rem;
  }
  @media (width < 768px) {
    .footer-info {
      order: 1;
      text-align: center;
    }
  }
  .footer-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;
    justify-content: flex-end;
  }
  .footer-logos > * {
    flex: none;
    max-width: 100%;
  }
  .footer-logos > *:nth-child(1) {
    width: 62rem;
  }
  .footer-logos > *:nth-child(2) {
    width: 158rem;
  }
  .footer-logos > *:nth-child(3) {
    width: 174rem;
    filter: brightness(0) invert(1);
  }
  .footer-logos a img {
    display: block;
    width: 100%;
  }
  @media (width < 768px) {
    .footer-logos {
      justify-content: center;
    }
    .footer-logos > *:nth-child(1) {
      width: 58rem;
    }
    .footer-logos > *:nth-child(2) {
      width: 150rem;
    }
    .footer-logos > *:nth-child(3) {
      width: 165rem;
    }
  }
}
@layer components.card {
  .card {
    box-shadow: 6rem 6rem 30rem rgba(99, 186, 255, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 75rem) / 4);
    margin-top: 36rem;
    border-radius: 14rem;
    background: #fff;
  }
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    transition: var(--base-transition);
    transition-property: box-shadow;
  }
  .card .date-overlay {
    width: max-content;
    padding: 12rem 20rem 42rem;
    margin: -36rem 0 -32rem;
    font-size: 20rem;
    font-weight: 500;
    line-height: 14rem;
    color: #fff;
    border-radius: 12rem 12rem 0 0;
    background: #63baff;
  }
  .card img {
    width: 100%;
    aspect-ratio: 320/193;
    margin-bottom: 8rem;
    object-fit: contain;
    border-radius: inherit;
  }
  .card :is(h2, h3) {
    padding: 12rem 12rem 20rem;
    flex: 1;
    font-size: 20rem;
    font-weight: 400;
    border-radius: 0 0 12rem 12rem;
  }
  @media (hover: hover) {
    .card:hover::before {
      box-shadow: 0 -1px #63baff inset;
    }
  }
  @media (width < 1025px) {
    .card {
      flex-basis: calc((100% - 25rem) / 2);
    }
  }
  @media (width < 768px) {
    .card .date-overlay {
      font-size: 18rem;
      line-height: 13rem;
    }
    .card :is(h2, h3) {
      font-size: 18rem;
    }
  }
}
@layer components.filter-section {
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  .filter-section .flex.justify-between {
    gap: 25rem;
    justify-content: flex-start;
  }
  .filter-section.is-active + .filter-section.is-active {
    margin-top: 160rem;
  }
  .filter-section:not(.is-active) {
    display: none;
  }
  @media (768px <= width < 1025px) {
    .filter-section {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }
  @media (width < 768px) {
    .filter-section .flex.justify-between {
      flex-direction: column-reverse;
      gap: 40rem;
    }
    .filter-section.is-active + .filter-section.is-active {
      margin-top: 100rem;
    }
  }
  .filter-section-header {
    display: flex;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }
  .filter-section-title:where(img) {
    display: block;
    height: 97rem;
  }
  @media (width < 768px) {
    .filter-section-title:where(img) {
      height: 76rem;
    }
  }
  .filter-section-year {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    flex: none;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    color: #63baff;
    border: 1px solid #63baff;
    border-radius: 12rem;
  }
  @media (width < 768px) {
    .filter-section-year {
      --height: 31rem;
      --padding-x: 16rem;
      font-size: 16rem;
      border-radius: 8rem;
    }
  }
}
@layer components.breadcrumbs {
  .breadcrumbs {
    position: sticky;
    top: calc(var(--header-height, 92rem) - 30rem);
    z-index: 99;
    padding-top: 50rem;
    padding-bottom: 20rem;
    margin-bottom: 30px;
    font-size: 20rem;
    line-height: 1.25;
    color: #9a9a9a;
    background: #fff;
  }
  .breadcrumbs ul {
    display: flex;
    gap: 16rem;
    list-style: none;
  }
  .breadcrumbs li {
    display: flex;
    gap: inherit;
  }
  .breadcrumbs li:first-child {
    min-width: max-content;
  }
  .breadcrumbs li:first-child a {
    display: flex;
    gap: 10rem;
    align-items: center;
  }
  .breadcrumbs li:first-child a::before {
    content: "";
    flex: none;
    width: 18rem;
    aspect-ratio: 18/8;
    background: currentColor;
    mask: url("../img/arrow-left.svg") 50%/12rem no-repeat;
  }
  .breadcrumbs li:not(:last-child)::after {
    content: "/";
    flex: none;
  }
  .breadcrumbs a {
    color: #63baff;
  }
  @media (hover: hover) {
    .breadcrumbs a:hover {
      text-decoration: underline;
    }
  }
  .breadcrumbs span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @media (width < 768px) {
    .breadcrumbs {
      top: var(--header-height, 74rem);
      padding-top: 20rem;
      margin-bottom: 20rem;
      font-size: 16rem;
    }
    .breadcrumbs ul {
      gap: 6rem;
    }
  }
}
@layer components.hero-section {
  .hero-section {
    margin: 24rem 0 128rem;
  }
  @media (width < 1025px) {
    .hero-section {
      margin-bottom: 96rem;
    }
  }
  @media (width < 768px) {
    .hero-section {
      margin-top: 0;
      margin-bottom: 72rem;
    }
  }
  .hero-section-body {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 42rem;
    padding: 50rem;
    color: #fff;
    border-radius: 14rem;
    background: #63baff;
  }
  @media (width < 768px) {
    .hero-section-body {
      gap: 20rem;
      padding: 35rem 16rem 50rem;
      margin-inline: -16rem;
      border-radius: 0;
    }
  }
  .hero-section-decor {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
  }
  .hero-section-decor img {
    position: absolute;
  }
  .hero-section-decor img:nth-child(1) {
    top: -44rem;
    right: -25rem;
    width: 229rem;
  }
  .hero-section-decor img:nth-child(2) {
    top: 130rem;
    right: 156rem;
    width: 124rem;
  }
  .hero-section-decor img:nth-child(3) {
    top: 27rem;
    right: 285rem;
    width: 162rem;
  }
  .hero-section-decor img:nth-child(4) {
    top: 100%;
    left: 50%;
    width: 18rem;
    transform: translateX(-50%);
  }
  @media (width < 1025px) {
    .hero-section-decor img:nth-child(1) {
      top: -40rem;
      right: -46rem;
    }
    .hero-section-decor img:nth-child(2) {
      top: 120rem;
      right: 139rem;
    }
    .hero-section-decor img:nth-child(3) {
      top: auto;
      right: 28rem;
      bottom: 26rem;
    }
  }
  @media (width < 768px) {
    .hero-section-decor img:nth-child(1) {
      display: none;
    }
    .hero-section-decor img:nth-child(2) {
      top: auto;
      right: 16rem;
      bottom: 172rem;
      width: 76rem;
    }
    .hero-section-decor img:nth-child(3) {
      right: 9rem;
      bottom: 8rem;
      width: 96rem;
    }
  }
  .hero-section-header {
    max-width: 57.3248407643%;
  }
  @media (width < 1025px) {
    .hero-section-header {
      max-width: calc(100% - 220rem);
    }
  }
  @media (width < 768px) {
    .hero-section-header {
      max-width: none;
    }
  }
  .hero-section-title:where(img) {
    display: block;
    height: 117rem;
    max-width: 100%;
  }
  @media (width < 1025px) {
    .hero-section-title:where(img) {
      height: 115rem;
    }
  }
  @media (width < 768px) {
    .hero-section-title:where(img) {
      width: 100%;
      height: auto;
      max-width: 387rem;
      margin-inline: auto;
    }
  }
  .hero-section-main {
    display: grid;
    grid-template-columns: 720fr 536fr;
    min-height: 200rem;
    border-radius: 10rem;
    overflow: clip;
  }
  @media (width < 1025px) {
    .hero-section-main {
      grid-template-columns: none;
    }
  }
  .hero-section-text {
    padding: 50rem;
    font-size: 24rem;
    line-height: 1.0833333333;
    color: var(--body-color);
    background: #fff;
  }
  .hero-section-text p:where(:not(:last-child)) {
    margin-bottom: 1em;
  }
  @media (width < 768px) {
    .hero-section-text {
      padding: 20rem;
      font-size: 18rem;
      line-height: 1.1597222222;
    }
  }
  .hero-section-text-info {
    margin-top: 32rem;
    font-size: 20rem;
    line-height: 0.95;
    color: #7F7F7F;
  }
  @media (width < 1025px) {
    .hero-section-text-info {
      margin-top: 24rem;
    }
  }
  @media (width < 768px) {
    .hero-section-text-info {
      font-size: 16rem;
      line-height: 1.0208333333;
    }
  }
  .hero-section-image {
    position: relative;
  }
  .hero-section-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (width < 1025px) {
    .hero-section-image {
      grid-row: 1;
      aspect-ratio: 670/344;
    }
  }
  @media (width < 768px) {
    .hero-section-image {
      aspect-ratio: 288/162;
    }
  }
  .hero-section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem 12rem;
  }
  @media (width < 1025px) {
    .hero-section-footer {
      max-width: calc(100% - 160rem);
    }
  }
  @media (width < 768px) {
    .hero-section-footer {
      max-width: none;
    }
  }
  .hero-section-tag {
    --height: 40rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 12rem;
    border: 1px solid currentColor;
  }
  @media (width < 768px) {
    .hero-section-tag {
      --height: 29rem;
      --padding-x: 14rem;
      font-size: 16rem;
      border-radius: 8rem;
    }
  }
  .hero-internal {
    margin-bottom: 76rem;
  }
  .hero-internal:has(.hero-title-internal) {
    display: grid;
    grid-template-columns: 535fr 736fr;
    gap: 75rem;
    margin-bottom: 158rem;
  }
  .hero-internal:has(.hero-title-internal) .hero-links-internal {
    gap: 10rem;
  }
  @media (768px <= width < 1025px) {
    .hero-internal:not(:has(.hero-title-internal)) {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }
  @media (width < 1025px) {
    .hero-internal:has(.hero-title-internal) {
      position: relative;
      grid-template-columns: none;
      gap: 32rem;
      padding-top: 58rem;
      margin-bottom: 100rem;
    }
  }
  @media (width < 768px) {
    .hero-internal:not(:has(.hero-title-internal)) .hero-links-internal {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160rem, 1fr));
    }
    .hero-internal:not(:has(.hero-title-internal)) .hero-link-internal {
      --padding-x: 12rem;
      font-size: 16rem;
    }
    .hero-internal:has(.hero-title-internal) {
      padding-top: 51rem;
      margin-bottom: 86rem;
    }
    .hero-internal:has(.hero-title-internal) .hero-links-internal {
      gap: 8rem;
    }
  }
  .hero-text-internal {
    display: flex;
    flex-direction: column;
  }
  .hero-date-internal {
    --height: 38rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    width: max-content;
    padding: var(--padding-y) var(--padding-x);
    margin-bottom: 20rem;
    font-size: 20rem;
    line-height: var(--line-height);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12rem;
    background: #63baff;
  }
  @media (width < 1025px) {
    .hero-date-internal {
      position: absolute;
      top: 0;
    }
  }
  @media (width < 768px) {
    .hero-date-internal {
      --height: 31rem;
      font-size: 16rem;
    }
  }
  .hero-title-internal {
    margin-bottom: 50rem;
    font-size: 32rem;
    line-height: 1.25;
  }
  @media (width < 1025px) {
    .hero-title-internal {
      font-size: 24rem;
    }
  }
  @media (width < 768px) {
    .hero-title-internal {
      margin-bottom: 28rem;
      font-size: 18rem;
    }
  }
  .hero-subtitle-internal {
    margin-top: auto;
    margin-bottom: 20rem;
    font-size: 20rem;
    line-height: 1.25;
    color: #9a9a9a;
  }
  @media (width < 768px) {
    .hero-subtitle-internal {
      font-size: 16rem;
    }
  }
  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
  }
  @media (width < 768px) {
    .hero-links-internal {
      gap: 8rem;
    }
  }
  .hero-link-internal {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    padding: var(--padding-y) var(--padding-x);
    max-width: 100%;
    font-size: 20rem;
    line-height: var(--line-height);
    color: #63baff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #63baff;
    border-radius: 32rem;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  @media (hover: hover) {
    .hero-link-internal:hover {
      color: #fff;
      background-color: #63baff;
    }
  }
  .hero-link-internal.active {
    color: #fff;
    background-color: #63baff;
  }
  @media (width < 768px) {
    .hero-link-internal {
      --height: 33rem;
      font-size: 18rem;
    }
  }
  .internal-h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 28rem;
    color: #171d38;
  }
  @media (width < 768px) {
    .internal-h2 {
      font-size: 22rem;
    }
  }
  .internal-image img {
    box-shadow: 6rem 6rem 30rem rgba(99, 186, 255, 0.15);
    display: block;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 746/450;
    object-fit: contain;
    border-radius: 14rem;
  }
  @media (width < 1025px) {
    .internal-image {
      grid-row: 1;
    }
  }
}
@layer components.materials-section {
  .materials-section + .materials-section {
    margin-top: 100rem;
  }
  @media (width < 768px) {
    .materials-section + .materials-section {
      margin-top: 60rem;
    }
  }
  .materials-header {
    display: flex;
    gap: 24rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .materials-header .internal-h2 {
    padding: 16rem 20rem 60rem;
    margin-top: 0;
    margin-bottom: -36rem;
    font-size: 20rem;
    font-weight: 500;
    line-height: 14rem;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12rem;
    background: #63baff;
  }
  @media (width < 768px) {
    .materials-header {
      flex-direction: column;
      gap: 0;
      align-items: initial;
    }
    .materials-header .internal-h2 {
      padding-bottom: 50rem;
      font-size: 18rem;
      line-height: 13rem;
      text-align: center;
    }
  }
  .materials-content {
    box-shadow: 6rem 6rem 30rem rgba(99, 186, 255, 0.15);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120rem;
    justify-content: center;
    padding: 60rem 160.5rem 80rem;
    border-radius: 14rem;
    background: #fff;
  }
  @media (width < 1025px) {
    .materials-content {
      grid-template-columns: repeat(2, 1fr);
      padding-right: 60rem;
      padding-left: 60rem;
    }
  }
  @media (width < 768px) {
    .materials-content {
      grid-template-columns: none;
      gap: 82rem;
      padding-top: 86rem;
      padding-right: 16rem;
      padding-left: 16rem;
      margin-top: -54rem;
    }
  }
  .materials-column {
    display: flex;
    flex-direction: column;
    gap: 32rem;
  }
  .materials-column:not(:has(.material-item)) {
    display: none;
  }
  .material-icon {
    width: 46rem;
    aspect-ratio: 46/50;
  }
  .material-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (width < 768px) {
    .material-icon {
      margin: 0 auto;
    }
  }
  .material-item > strong {
    display: block;
    font-size: 20rem;
    line-height: 1.25;
    font-weight: 400;
  }
  .material-item > strong:where(:not(:last-child)) {
    margin-bottom: 10rem;
  }
  .material-item p {
    line-height: 0.9375;
    color: #9a9a9a;
  }
  .material-item p:where(:not(:last-child)) {
    margin-bottom: 10rem;
  }
  @media (width < 768px) {
    .material-item > strong {
      font-size: 18rem;
    }
  }
  .material-link {
    display: inline-flex;
    gap: 10rem;
    align-items: center;
    font-size: 20rem;
    line-height: 1.25;
    color: #63baff;
    text-decoration: none;
    text-transform: lowercase;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  .material-link img {
    flex: none;
    width: 18rem;
    height: 18rem;
    object-fit: contain;
  }
  .material-link + .material-link {
    margin-left: 16rem;
  }
  .material-link:hover {
    text-decoration: underline;
  }
  @media (width < 768px) {
    .material-link {
      font-size: 18rem;
    }
  }
  .materials-download {
    flex: none;
  }
  @media (width < 768px) {
    .materials-download {
      position: relative;
      z-index: 1;
      padding-top: 20rem;
      text-align: center;
    }
  }
  .materials-button {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    display: inline-block;
    vertical-align: top;
    gap: 10rem;
    max-width: 100%;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: 1.25;
    color: #63baff;
    text-decoration: none;
    text-transform: lowercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #63baff;
    border-radius: 32rem;
    user-select: none;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  .materials-button img {
    display: none;
    flex: none;
    width: 20rem;
    height: 20rem;
    transition: inherit;
    transition-property: filter;
  }
  @media (hover: hover) {
    .materials-button:hover {
      color: #fff;
      background-color: #63baff;
    }
    .materials-button:hover img {
      filter: brightness(0) invert(1);
    }
  }
  @media (width < 768px) {
    .materials-button {
      --height: 34rem;
      font-size: 18rem;
    }
  }
}
@layer components.notification {
  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #6a80f5, #515cb0);
    color: white;
    padding: 20rem 40rem;
    border-radius: 10rem;
    box-shadow: 0 8rem 12rem rgba(0, 0, 0, 0.2);
    font-size: 19rem;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;
  }
  @media (width < 1025px) {
    .notification {
      width: 90%;
      padding: 15rem 20rem;
      font-size: 16rem;
      border-radius: 8rem;
    }
  }
  @media (width < 768px) {
    .notification {
      width: 95%;
      font-size: 14rem;
    }
  }
}
@layer components.floating {
  .floating-envelope {
    position: fixed;
    bottom: 20rem;
    right: 20rem;
    width: 60rem;
    height: 60rem;
    background: #515cb0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;
  }
  .floating-envelope img {
    width: 24rem;
    height: 24rem;
  }
  .floating-envelope:hover {
    background: #788ced;
    transform: scale(1.1);
  }
  .floating-sferum {
    position: fixed;
    bottom: 90rem;
    right: 20rem;
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;
  }
  .floating-sferum:hover {
    background: #788ced;
    transform: scale(1.1);
  }
  .floating-sferum-main {
    position: fixed;
    bottom: 20rem;
    right: 20rem;
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;
  }
  .floating-sferum-main:hover {
    background: #788ced;
    transform: scale(1.1);
  }
}
@layer components.social-icons {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;
  }
  .social-icons a {
    flex: none;
    width: 42rem;
    aspect-ratio: 1;
    transition: var(--base-transition);
    transition-property: opacity;
  }
  .social-icons a img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .social-icons a:hover {
    opacity: 0.7;
  }
  @media (width < 768px) {
    .social-icons {
      column-gap: 18rem;
      justify-content: center;
    }
  }
}
@layer components.promo {
  .promo-banner {
    padding: 40rem 0;
    text-align: center;
  }
  @media (width < 768px) {
    .promo-banner {
      padding: 25rem 0;
    }
  }
  .promo-link {
    display: inline-block;
  }
  .promo-img {
    width: 100%;
    max-width: 1400rem;
    height: auto;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
