@charset "UTF-8";
@layer base {}
@layer layout {}
@layer components {}
@layer pages {}
@layer helpers {}
@layer base {
  :root {
    --base-font-size: 24rem;
    --base-line-height: 1.2;
    --base-color: #383838;
    --base-bg: #F5F5F5;
    --base-transition: 0.2s ease-in-out;
    font-size: 1px;
  }
  @media (width < 1400px) {
    :root {
      font-size: 0.0714285714vw;
    }
  }
  @media (width < 1025px) {
    :root {
      --base-font-size: 20rem;
      font-size: 1px;
    }
  }
  @media (width < 768px) {
    :root {
      --base-font-size: 16rem;
    }
  }
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
  }
  ::selection {
    color: #FFF;
    background: #48A9F3;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    margin: 0;
    font-family: "PT Root UI", Arial, sans-serif;
    font-size: var(--base-font-size);
    font-weight: 500;
    line-height: var(--base-line-height);
    color: var(--base-color);
    overflow: clip;
    background: var(--base-bg);
  }
  h2 {
    margin-block: 30rem;
    font-size: 32rem;
    color: #171d38;
  }
  @media (width < 768px) {
    h3 {
      font-size: 14rem;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  hr {
    height: 1px;
    border: none;
    background: #eeeeee;
    margin-block: 10rem 20rem;
  }
}
@layer layout {
  :root {
    --container-padding: 22rem;
  }
  @media (width < 768px) {
    :root {
      --container-padding: 16rem;
    }
  }
  html {
    scroll-padding-top: min(var(--header-height) + 65rem, 137px);
  }
  @media (width < 768px) {
    html {
      scroll-padding-top: min(var(--header-height) + 60rem, 132px);
    }
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
  .container {
    width: 100%;
    max-width: 1400px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .flex.justify-between {
    justify-content: space-between;
  }
}
@layer helpers {
  [hidden] {
    display: none !important;
  }
  .visually-hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
  }
  .visually-hidden:not(caption) {
    position: absolute !important;
  }
  .visually-hidden-focusable:not(:focus, :focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
  }
  .visually-hidden-focusable:not(:focus, :focus-within):not(caption) {
    position: absolute !important;
  }
}
@layer components.content {
  .content {
    --h-spacing: 1em;
    --p-spacing: calc(1em * var(--base-line-height));
    --link-color: #EB058C;
    --link-decoration: none;
    --link-hover-color: rgb(209.5, 5, 125.0326086957);
    --link-hover-decoration: none;
    --list-indent: 1.5em;
    --list-marker-size: 0.4166666667em;
    --blockquote-font-size: 1em;
    --block-spacing: 90rem;
  }
  @media (width < 1025px) {
    .content {
      --block-spacing: 75rem;
    }
  }
  @media (width < 768px) {
    .content {
      --block-spacing: 60rem;
    }
  }
  .content :is(h1, h2, h3, h4, h5, h6):where(:not(.content-ignore *)),
  .content :is(.h1, .h2, .h3, .h4, .h5, .h6) {
    margin: 0;
    font-weight: 500;
  }
  .content h1:where(:not(.content-ignore *)):where(:not(:first-child), .mt), .content .h1:where(:not(:first-child), .mt) {
    margin-top: 0.625em;
  }
  .content h1:where(:not(.content-ignore *)):where(:not(:last-child), .mb), .content .h1:where(:not(:last-child), .mb) {
    margin-bottom: 0.625em;
  }
  .content h1:where(:not(.content-ignore *)), .content .h1 {
    font-size: 48rem;
    text-transform: uppercase;
  }
  @media (width < 1025px) {
    .content h1:where(:not(.content-ignore *)), .content .h1 {
      font-size: 36rem;
    }
  }
  @media (width < 768px) {
    .content h1:where(:not(.content-ignore *)), .content .h1 {
      font-size: 24rem;
    }
  }
  .content h2:where(:not(.content-ignore *)):where(:not(:first-child), .mt), .content .h2:where(:not(:first-child), .mt) {
    margin-top: 1.125em;
  }
  .content h2:where(:not(.content-ignore *)):where(:not(:last-child), .mb), .content .h2:where(:not(:last-child), .mb) {
    margin-bottom: 1.125em;
  }
  .content h2:where(:not(.content-ignore *)), .content .h2 {
    font-size: 32rem;
    color: inherit;
    text-transform: uppercase;
  }
  @media (width < 1025px) {
    .content h2:where(:not(.content-ignore *)), .content .h2 {
      font-size: 26rem;
    }
  }
  @media (width < 768px) {
    .content h2:where(:not(.content-ignore *)), .content .h2 {
      font-size: 20rem;
    }
  }
  .content :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) + :where(:not(.content-ignore *)) {
    margin-top: 0 !important;
  }
  .content p:where(:not(.content-ignore *)):where(:not(:first-child), .mt),
  .content .p:where(:not(:first-child), .mt) {
    margin-top: var(--p-spacing);
  }
  .content p:where(:not(.content-ignore *)):where(:not(:last-child), .mb),
  .content .p:where(:not(:last-child), .mb) {
    margin-bottom: var(--p-spacing);
  }
  .content .p {
    font: inherit;
    color: inherit;
  }
  .content :any-link:not([href^="tel:"]):where(:not(.content-ignore *)) {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    transition: color var(--base-transition);
  }
  @media (hover: hover) {
    .content :any-link:not([href^="tel:"]):where(:not(.content-ignore *)):hover {
      color: var(--link-hover-color);
      text-decoration: var(--link-hover-decoration);
    }
  }
  .content :is(ul, ol):where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--p-spacing);
  }
  .content :is(ul, ol):where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--p-spacing);
  }
  .content :is(ul, ol):where(:not(.content-ignore *)) {
    position: relative;
    padding-left: var(--list-indent);
    list-style: none;
  }
  .content :is(ul, ol) > li:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: calc(0 * var(--p-spacing));
  }
  .content :is(ul, ol) > li:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: calc(0 * var(--p-spacing));
  }
  .content :is(ul, ol) > li:where(:not(.content-ignore *))::before {
    position: absolute;
    left: 0;
    width: var(--list-indent);
    text-align: right;
  }
  .content ul > li:where(:not(.content-ignore *))::before {
    content: "•";
    text-align: center;
  }
  .content ol:where(:not(.content-ignore *)) {
    counter-reset: ol;
  }
  .content ol > li:where(:not(.content-ignore *)) {
    counter-increment: ol;
  }
  .content ol > li:where(:not(.content-ignore *))::before {
    content: counter(ol) ". ";
  }
  .content dl:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--p-spacing);
  }
  .content dl:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--p-spacing);
  }
  .content dt:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--p-spacing);
  }
  .content dt:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: calc(0.5 * var(--p-spacing));
  }
  .content dt:where(:not(.content-ignore *)) {
    font-weight: 500;
  }
  .content blockquote:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content blockquote:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content blockquote:where(:not(.content-ignore *)) {
    padding-left: calc(var(--list-indent) - 4rem);
    font-size: var(--blockquote-font-size);
    border-left: 4rem solid #9A9A9A;
  }
  .content .table-responsive:where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content .table-responsive:where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content .table-responsive {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .content .table-responsive table:where(:not(.content-ignore *)) {
    margin: 0;
  }
  .content table:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content table:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content table:where(:not(.content-ignore *)) {
    border-collapse: collapse;
  }
  .content tr:first-child :is(th, td):where(:not(.content-ignore *)) {
    padding-top: 0;
  }
  .content tr:last-child :is(th, td):where(:not(.content-ignore *)) {
    padding-bottom: 0;
  }
  .content :is(th, td):where(:not(.content-ignore *)) {
    padding: calc(0.5 * var(--p-spacing)) calc(0.5 * var(--p-spacing));
    vertical-align: baseline;
  }
  .content :is(th, td):first-child:where(:not(.content-ignore *)) {
    padding-left: 0;
  }
  .content :is(th, td):last-child:where(:not(.content-ignore *)) {
    padding-right: 0;
  }
  .content td:first-child:where(:not(.content-ignore *)) {
    color: var(--light);
  }
  .content :is(img:not(picture *, figure *), picture:not(figure *)):where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content :is(img:not(picture *, figure *), picture:not(figure *)):where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content figure:where(:not(.content-ignore *)):where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content figure:where(:not(.content-ignore *)):where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content figure:where(:not(.content-ignore *)) {
    text-align: center;
  }
  .content figcaption:where(:not(.content-ignore *)) {
    margin-top: calc(0.5 * var(--p-spacing));
    font-size: 13rem;
    font-style: italic;
  }
  .content hr:where(:not(.content-ignore *)) {
    margin: var(--h-spacing) 0;
    border: 0;
    border-top: 1px solid #9A9A9A;
  }
  .content u:where(:not(.content-ignore *)) {
    text-decoration: underline #93E479;
  }
  .content :is([class^=block-], [class*=" block-"]):where(:not(:first-child), .mt) {
    margin-top: var(--block-spacing);
  }
  .content :is([class^=block-], [class*=" block-"]):where(:not(:last-child), .mb) {
    margin-bottom: var(--block-spacing);
  }
  .content .block-accent {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
  }
  .content .block-accent {
    padding: 30rem 30rem 40rem;
    border-radius: 14rem;
    background: #FFF;
  }
  @media (width < 768px) {
    .content .block-accent {
      padding: 20rem 20rem 24rem;
    }
  }
  @media (width >= 1025px) {
    .content .block-hero h1:where(:not(.content-ignore *)) {
      max-width: 1157rem;
    }
    .content .block-hero p:where(:not(.content-ignore *)),
    .content .block-hero :is(ul, ol):where(:not(.content-ignore *)) {
      max-width: 807rem;
    }
  }
  .content .block-2-cols {
    display: grid;
    gap: 40rem 36rem;
  }
  @media (width >= 1025px) {
    .content .block-2-cols {
      grid-template-columns: 1fr 1fr;
    }
  }
  .content .block-icon {
    display: flex;
    align-items: center;
    gap: 10rem 317rem;
  }
  .content .block-icon > :nth-child(1) {
    margin: 0;
    flex: none;
    width: 142rem;
  }
  .content .block-icon > :nth-child(2) {
    flex: 1;
  }
  @media (width >= 1025px) {
    .content .block-icon {
      padding-block: 80rem;
      padding-right: 60rem;
    }
    .content .block-icon > :nth-child(1) {
      order: 1;
    }
  }
  @media (width < 1025px) {
    .content .block-icon {
      flex-flow: column;
      align-items: unset;
    }
    .content .block-icon > :nth-child(1) {
      margin: 0 auto;
    }
  }
  @media (width < 768px) {
    .content .block-icon > :nth-child(1) {
      width: 74rem;
    }
  }
  .content .block-icon-2 {
    position: relative;
  }
  .content .block-icon-2 > :nth-child(1) {
    width: 47rem;
    margin: 0;
  }
  @media (width >= 1025px) {
    .content .block-icon-2 > :nth-child(1) {
      position: absolute;
      top: 0;
      right: 20rem;
    }
    .content .block-icon-2 > :nth-child(2) {
      max-width: 950rem;
    }
  }
  @media (width < 1025px) {
    .content .block-icon-2 {
      display: flex;
      flex-flow: column;
      gap: 20rem;
      padding-top: 0;
    }
    .content .block-icon-2 > :nth-child(1) {
      margin-inline: auto;
    }
  }
  @media (width < 768px) {
    .content .block-icon-2 > :nth-child(1) {
      width: 32rem;
    }
  }
  .content .block-icon-3 {
    position: relative;
  }
  .content .block-icon-3 > :nth-child(1) {
    width: 100rem;
    margin: 0;
  }
  @media (width >= 1025px) {
    .content .block-icon-3 > :nth-child(1) {
      position: absolute;
      top: 27rem;
      right: 20rem;
    }
    .content .block-icon-3 > :nth-child(2) {
      max-width: 810rem;
    }
  }
  @media (width < 1025px) {
    .content .block-icon-3 {
      display: flex;
      flex-flow: column;
      gap: 20rem;
      padding-top: 15rem;
    }
    .content .block-icon-3 > :nth-child(1) {
      margin-inline: auto;
    }
  }
  @media (width < 768px) {
    .content .block-icon-3 > :nth-child(1) {
      width: 73rem;
    }
  }
  .content .block-center h2:where(:not(.content-ignore *)) {
    text-align: center;
  }
  .content .block-center dt:where(:not(.content-ignore *)) {
    margin-inline: auto;
  }
  .content .block-center dt ~ dt:where(:not(.content-ignore *)) {
    margin-top: 36rem;
  }
  @media (width >= 1025px) {
    .content .block-center h2:where(:not(.content-ignore *)) {
      max-width: 952rem;
      margin-inline: auto;
    }
    .content .block-center dl:where(:not(.content-ignore *)) {
      max-width: 660rem;
      margin-inline: auto;
    }
  }
  @media (width < 768px) {
    .content .block-center dt ~ dt:where(:not(.content-ignore *)) {
      margin-top: 20rem;
    }
  }
  .content .block-docs .title-badge:where(:not(:first-child), .mt) {
    margin-top: 60rem;
  }
  .content .block-docs .title-badge:where(:not(:last-child), .mb) {
    margin-bottom: 60rem;
  }
  @media (width < 768px) {
    .content .block-docs .title-badge:where(:not(:first-child), .mt) {
      margin-top: 30rem;
    }
    .content .block-docs .title-badge:where(:not(:last-child), .mb) {
      margin-bottom: 30rem;
    }
  }
  .content .info {
    --p-spacing: 10rem;
    font-size: 0.8333333333em;
    color: #7F7F7F;
  }
  .content .title-badge {
    width: max-content;
    padding: 6rem 30rem;
    margin: 0;
    font-size: var(--base-font-size);
    font-weight: 500;
    color: #FFF;
    background: #EB058C;
    border-radius: 12rem;
    text-transform: none;
  }
  @media (width < 768px) {
    .content .title-badge {
      padding: 8rem 20rem;
    }
  }
  .content .content-badge {
    padding: 30rem;
  }
  @media (width < 768px) {
    .content .content-badge {
      padding: 20rem;
    }
  }
}
@layer components.header {
  :root {
    --header-height: 72rem;
  }
  .header {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    position: sticky;
    top: 0;
    z-index: 100;
    height: var(--header-height);
    padding: 12rem 0;
    background: var(--base-bg);
  }
  .header .container {
    display: flex;
    gap: 24rem;
    align-items: center;
    height: 100%;
  }
  .header .logo:nth-child(1) {
    width: 52rem;
  }
  .header .logo:nth-child(2) {
    width: 43rem;
  }
  .header .logo:nth-child(3) {
    width: 143rem;
    margin-left: auto;
  }
  @media (width < 768px) {
    .header .container {
      gap: 14rem;
    }
    .header .logo:nth-child(1) {
      width: 30rem;
    }
    .header .logo:nth-child(2) {
      width: 25rem;
    }
    .header .logo:nth-child(3) {
      width: 83rem;
    }
  }
}
@layer components.footer {
  .footer {
    padding: 30rem 0;
    margin-top: 80rem;
    font-size: 16rem;
    font-weight: 500;
    line-height: 1.25;
    color: #FFF;
    background: #EB058C;
  }
  .footer .container {
    display: flex;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }
  @media (width < 768px) {
    .footer .container {
      display: flex;
      flex-direction: column;
      gap: 80rem;
      align-items: initial;
    }
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 22rem;
  }
  @media (width < 768px) {
    .footer-info {
      order: 1;
      text-align: center;
    }
  }
  .footer-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;
    justify-content: flex-end;
  }
  .footer-logos > * {
    flex: none;
    max-width: 100%;
  }
  .footer-logos > *:nth-child(1) {
    width: 62rem;
  }
  .footer-logos > *:nth-child(2) {
    width: 158rem;
  }
  .footer-logos > *:nth-child(3) {
    width: 174rem;
    filter: brightness(0) invert(1);
  }
  .footer-logos a img {
    display: block;
    width: 100%;
  }
  @media (width < 768px) {
    .footer-logos {
      justify-content: center;
    }
    .footer-logos > *:nth-child(1) {
      width: 58rem;
    }
    .footer-logos > *:nth-child(2) {
      width: 150rem;
    }
    .footer-logos > *:nth-child(3) {
      width: 165rem;
    }
  }
}
@layer components.card {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 50rem) / 3);
    margin-top: 36rem;
    border-radius: 14rem;
    background: #FFF;
  }
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    transition: var(--base-transition);
    transition-property: box-shadow;
  }
  .card .date-overlay {
    width: max-content;
    padding: 12rem 20rem 42rem;
    margin: -36rem 0 -32rem;
    font-size: 20rem;
    line-height: 14rem;
    color: #FFF;
    border-radius: 12rem 12rem 0 0;
    background: #EB058C;
  }
  .card img {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    width: 100%;
    aspect-ratio: 320/193;
    object-fit: cover;
    border-radius: inherit;
  }
  .card :is(h2, h3) {
    display: none;
    padding: 12rem 12rem 20rem;
    flex: 1;
    font-size: 20rem;
    font-weight: 500;
    border-radius: 0 0 12rem 12rem;
  }
  @media (hover: hover) {
    .card:hover::before {
      box-shadow: 0 -1px #EB058C inset;
    }
  }
  @media (width < 1025px) {
    .card {
      flex-basis: calc((100% - 25rem) / 2);
    }
  }
  @media (width < 768px) {
    .card .date-overlay {
      font-size: 18rem;
      line-height: 13rem;
    }
    .card :is(h2, h3) {
      font-size: 18rem;
    }
  }
}
@layer components.filter-section {
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  .filter-section .flex.justify-between {
    gap: 25rem;
    justify-content: flex-start;
  }
  .filter-section.is-active + .filter-section.is-active {
    margin-top: 160rem;
  }
  .filter-section:not(.is-active) {
    display: none !important;
  }
  @media (768px <= width < 1025px) {
    .filter-section {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }
  @media (width < 768px) {
    .filter-section .flex.justify-between {
      flex-direction: column-reverse;
      gap: 40rem;
    }
    .filter-section.is-active + .filter-section.is-active {
      margin-top: 100rem;
    }
  }
  .filter-section-header {
    display: flex;
    padding: 9rem 0;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }
  .filter-section-title,
  .filter-section-year {
    font-size: 24rem;
    font-weight: 500;
    text-transform: lowercase;
    color: var(--base-color);
  }
  .filter-section-title {
    margin: 0;
  }
}
@layer components.breadcrumbs {
  .breadcrumbs {
    position: sticky;
    top: calc(var(--header-height) - 30rem);
    z-index: 99;
    padding-top: 50rem;
    padding-bottom: 20rem;
    margin-bottom: 30px;
    font-size: 20rem;
    line-height: 1.25;
    color: #9A9A9A;
    background: var(--base-bg);
  }
  .breadcrumbs ul {
    display: flex;
    gap: 16rem;
    list-style: none;
  }
  .breadcrumbs li {
    display: flex;
    gap: inherit;
  }
  .breadcrumbs li:first-child {
    min-width: max-content;
  }
  .breadcrumbs li:first-child a {
    display: flex;
    gap: 10rem;
    align-items: center;
  }
  .breadcrumbs li:first-child a::before {
    content: "";
    flex: none;
    width: 18rem;
    aspect-ratio: 18/8;
    background: currentColor;
    mask: url("../img/arrow-left.svg") 50%/12rem no-repeat;
  }
  .breadcrumbs li:not(:last-child)::after {
    content: "/";
    flex: none;
  }
  .breadcrumbs a {
    color: #EB058C;
  }
  @media (hover: hover) {
    .breadcrumbs a:hover {
      text-decoration: underline;
    }
  }
  .breadcrumbs span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @media (width < 768px) {
    .breadcrumbs {
      top: var(--header-height);
      padding-top: 20rem;
      margin-bottom: 20rem;
      font-size: 16rem;
    }
    .breadcrumbs ul {
      gap: 6rem;
    }
  }
}
@layer components.hero-section {
  .hero-section {
    position: relative;
    margin: 60rem 0 80rem;
  }
  .hero-section::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1512/478;
    background: url("../img/flag.svg") 50%/contain no-repeat;
    transform: translateY(-50%);
  }
  @media (width < 1025px) {
    .hero-section {
      margin-top: 27rem;
      margin-bottom: 27rem;
    }
    .hero-section::before {
      top: 0;
      transform: none;
    }
  }
  .hero-section-body {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    display: grid;
    grid-template-areas: "header links" "main links";
    grid-template-columns: 620rem 457rem;
    justify-content: space-between;
    gap: 30rem;
    padding: 60rem;
    border-radius: 14rem;
    background: #FFF;
  }
  @media (width < 1025px) {
    .hero-section-body {
      grid-template-areas: "header" "main" "links";
      grid-template-columns: none;
      gap: 20rem;
      padding: 20rem 20rem 40rem;
    }
  }
  .hero-section-header {
    grid-area: header;
  }
  .hero-section-title {
    width: 387rem;
    aspect-ratio: 387/117;
    max-width: 100%;
    font-size: 0;
    line-height: 0;
    background: #FF553E;
    mask: url("../img/hero-title.svg") 50%/contain no-repeat;
  }
  @media (width < 1025px) {
    .hero-section-title {
      width: 290.25rem;
    }
  }
  .hero-section-main {
    grid-area: main;
  }
  .hero-section-text p:where(:not(:last-child)) {
    margin-bottom: 1em;
  }
  @media (width < 1025px) {
    .hero-section-text {
      font-size: 18rem;
    }
  }
  .hero-section-text-info {
    display: flex;
    gap: 0.3em;
    margin-top: 60rem;
    font-size: 20rem;
    font-style: italic;
    color: #7F7F7F;
  }
  @media (width < 1025px) {
    .hero-section-text-info {
      margin-top: 40rem;
      font-size: 14rem;
    }
  }
  .hero-section-links {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 48rem;
    justify-content: space-between;
    align-content: space-between;
    grid-area: links;
  }
  @media (width < 1025px) {
    .hero-section-links {
      margin-top: 20rem;
      margin-right: 20rem;
      margin-left: 20rem;
      gap: 30rem;
    }
  }
  @media (width < 768px) {
    .hero-section-links {
      grid-auto-flow: row;
      grid-template-columns: none;
      justify-content: center;
    }
  }
  .hero-section-links-item {
    display: flex;
    flex-flow: column;
    gap: 10rem;
    font-size: 18rem;
    line-height: 1.1875;
    text-align: center;
  }
  .hero-section-links-item > img {
    width: 100rem;
    aspect-ratio: 1;
    object-fit: contain;
    margin-inline: auto;
  }
  @media (width < 1025px) {
    .hero-section-links-item {
      font-size: 16rem;
    }
    .hero-section-links-item > img {
      width: 56rem;
    }
  }
  .hero-section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem 12rem;
  }
  @media (width < 1025px) {
    .hero-section-footer {
      max-width: calc(100% - 160rem);
    }
  }
  @media (width < 768px) {
    .hero-section-footer {
      max-width: none;
    }
  }
  .hero-section-tag {
    --height: 40rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 12rem;
    border: 1px solid currentColor;
  }
  @media (width < 768px) {
    .hero-section-tag {
      --height: 29rem;
      --padding-x: 14rem;
      font-size: 16rem;
      border-radius: 8rem;
    }
  }
  .hero-internal {
    margin-bottom: 76rem;
  }
  .materials-section + .hero-internal.theme-group-heading {
    margin-top: 100rem;
  }
  @media (width < 768px) {
    .materials-section + .hero-internal.theme-group-heading {
      margin-top: 60rem;
    }
  }
  .hero-internal:has(.hero-title-internal) {
    display: grid;
    grid-template-columns: 535fr 746fr;
    gap: 75rem;
    margin-bottom: 158rem;
  }
  .hero-internal:has(.hero-title-internal) .hero-links-internal {
    gap: 10rem;
  }
  @media (768px <= width < 1025px) {
    .hero-internal:not(:has(.hero-title-internal)) {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }
  @media (width < 1025px) {
    .hero-internal:has(.hero-title-internal) {
      position: relative;
      grid-template-columns: none;
      gap: 32rem;
      padding-top: 58rem;
      margin-bottom: 100rem;
    }
  }
  @media (width < 768px) {
    .hero-internal:not(:has(.hero-title-internal)) .hero-links-internal {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160rem, 1fr));
    }
    .hero-internal:not(:has(.hero-title-internal)) .hero-link-internal {
      --padding-x: 12rem;
      font-size: 16rem;
    }
    .hero-internal:has(.hero-title-internal) {
      padding-top: 51rem;
      margin-bottom: 86rem;
    }
    .hero-internal:has(.hero-title-internal) .hero-links-internal {
      gap: 8rem;
    }
  }
  .hero-text-internal {
    display: flex;
    flex-direction: column;
  }
  .hero-date-internal {
    --height: auto;
    --line-height: var(--base-line-height);
    --padding-y: calc((var(--height) - var(--line-height) * 1em) / 2);
    --padding-x: 0;
    width: max-content;
    padding: var(--padding-y) var(--padding-x);
    margin-bottom: 32rem;
    font-size: 20rem;
    line-height: var(--line-height);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @media (width < 1025px) {
    .hero-date-internal {
      position: absolute;
      top: 0;
    }
  }
  @media (width < 768px) {
    .hero-date-internal {
      font-size: 16rem;
    }
  }
  .hero-title-internal {
    margin-bottom: 50rem;
    font-size: 32rem;
    font-weight: 500;
    line-height: 1.1875;
  }
  @media (width < 1025px) {
    .hero-title-internal {
      font-size: 24rem;
    }
  }
  @media (width < 768px) {
    .hero-title-internal {
      margin-bottom: 28rem;
      font-size: 18rem;
    }
  }
  .hero-subtitle-internal {
    margin-top: auto;
    margin-bottom: 20rem;
    font-size: 20rem;
    line-height: 1.25;
  }
  @media (width < 768px) {
    .hero-subtitle-internal {
      font-size: 16rem;
    }
  }
  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
  }
  @media (width < 768px) {
    .hero-links-internal {
      gap: 8rem;
    }
  }
  .hero-link-internal {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    padding: var(--padding-y) var(--padding-x);
    max-width: 100%;
    font-size: 20rem;
    line-height: var(--line-height);
    color: #EB058C;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #EB058C;
    border-radius: 32rem;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  @media (hover: hover) {
    .hero-link-internal:hover {
      color: #FFF;
      background-color: #EB058C;
    }
  }
  .hero-link-internal.active {
    color: #FFF;
    background-color: #EB058C;
  }
  @media (width < 768px) {
    .hero-link-internal {
      --height: 33rem;
      font-size: 18rem;
    }
  }
  .internal-h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 28rem;
    color: #171d38;
  }
  @media (width < 768px) {
    .internal-h2 {
      font-size: 22rem;
    }
  }
  .internal-image img {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    display: block;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 746/450;
    object-fit: contain;
    border-radius: 14rem;
  }
  @media (width < 1025px) {
    .internal-image {
      grid-row: 1;
    }
  }
}
@layer components.materials-section {
  .materials-section + .materials-section {
    margin-top: 100rem;
  }
  @media (width < 768px) {
    .materials-section + .materials-section {
      margin-top: 60rem;
    }
  }
  .materials-header {
    display: flex;
    gap: 24rem;
    align-items: flex-start;
    justify-content: space-between;
  }
  .materials-header .internal-h2 {
    padding: 16rem 20rem 60rem;
    margin-top: 0;
    margin-bottom: -36rem;
    font-size: 20rem;
    font-weight: 500;
    line-height: 14rem;
    color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12rem;
    background: #EB058C;
  }
  @media (width < 768px) {
    .materials-header {
      flex-direction: column;
      gap: 0;
      align-items: initial;
    }
    .materials-header .internal-h2 {
      padding-bottom: 50rem;
      font-size: 18rem;
      line-height: 13rem;
      text-align: center;
    }
  }
  .materials-content {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    position: relative;
    padding: 60rem 108rem 80rem;
    border-radius: 14rem;
    background: #FFF;
  }
  @media (width < 1025px) {
    .materials-content {
      padding-right: 60rem;
      padding-left: 60rem;
    }
  }
  @media (width < 768px) {
    .materials-content {
      padding-top: 86rem;
      padding-right: 16rem;
      padding-left: 16rem;
      margin-top: -54rem;
    }
  }
  .material-column-header {
    --interval-y: 60rem;
    display: flex;
    align-items: center;
    gap: 20rem;
    margin-bottom: 32rem;
  }
  .material-column-header ~ .material-column-header {
    padding-top: var(--interval-y);
    border-top: 1px solid #F5F5F5;
    margin-top: var(--interval-y);
  }
  @media (width < 1025px) {
    .material-column-header {
      --interval-y: 40rem;
    }
  }
  .materials-column {
    margin-bottom: -32rem;
    column-count: 3;
    column-gap: 60rem;
  }
  .materials-column:not(:has(.material-item)) {
    display: none;
  }
  @media (width < 1025px) {
    .materials-column {
      column-count: 2;
    }
  }
  @media (width < 768px) {
    .materials-column {
      column-count: 1;
    }
  }
  .material-icon {
    flex-shrink: 0;
    width: 46rem;
    aspect-ratio: 46/34;
  }
  .material-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .material-title {
    margin: 0;
    font-size: 24rem;
    font-weight: 500;
    color: #EB058C;
  }
  @media (width < 768px) {
    .material-title {
      font-size: 18rem;
    }
  }
  .material-item {
    padding-bottom: 32rem;
    page-break-inside: avoid;
  }
  .material-item > strong {
    display: block;
    font-size: 20rem;
    line-height: 1.25;
    font-weight: 500;
  }
  .material-item > strong:where(:not(:last-child)) {
    margin-bottom: 10rem;
  }
  .material-item p {
    font-size: 16rem;
    line-height: 0.9375;
    color: #9A9A9A;
  }
  .material-item p:where(:not(:last-child)) {
    margin-bottom: 10rem;
  }
  .material-item p:has(+ p) {
    margin-bottom: 0;
  }
  @media (width < 768px) {
    .material-item > strong {
      font-size: 18rem;
    }
  }
  .material-link {
    display: inline-flex;
    gap: 10rem;
    align-items: center;
    font-size: 20rem;
    line-height: 1.2;
    color: #63BAFF;
    text-decoration: none;
    text-transform: lowercase;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  .material-link img {
    flex: none;
    width: 18rem;
    height: 18rem;
    object-fit: contain;
  }
  .material-link + .material-link {
    margin-left: 16rem;
  }
  .material-link:hover {
    text-decoration: underline;
  }
  @media (width < 768px) {
    .material-link {
      font-size: 18rem;
    }
  }
  .materials-download {
    flex: none;
  }
  @media (width < 768px) {
    .materials-download {
      position: relative;
      z-index: 1;
      padding-top: 20rem;
      text-align: center;
    }
  }
  .materials-button {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;
    display: inline-block;
    vertical-align: top;
    gap: 10rem;
    max-width: 100%;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    line-height: 1.25;
    color: #EB058C;
    text-decoration: none;
    text-transform: lowercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #EB058C;
    border-radius: 32rem;
    user-select: none;
    transition: var(--base-transition);
    transition-property: color, background-color;
  }
  .materials-button img {
    display: none;
    flex: none;
    width: 20rem;
    height: 20rem;
    transition: inherit;
    transition-property: filter;
  }
  @media (hover: hover) {
    .materials-button:hover {
      color: #FFF;
      background-color: #EB058C;
    }
    .materials-button:hover img {
      filter: brightness(0) invert(1);
    }
  }
  @media (width < 768px) {
    .materials-button {
      --height: 34rem;
      font-size: 18rem;
    }
  }
}
@layer components.notification {
  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #6a80f5, #515cb0);
    color: white;
    padding: 20rem 40rem;
    border-radius: 10rem;
    box-shadow: 0 8rem 12rem rgba(0, 0, 0, 0.2);
    font-size: 19rem;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;
  }
  @media (width < 1025px) {
    .notification {
      width: 90%;
      padding: 15rem 20rem;
      font-size: 16rem;
      border-radius: 8rem;
    }
  }
  @media (width < 768px) {
    .notification {
      width: 95%;
      font-size: 14rem;
    }
  }
}
@layer components.floating {
  .floating-envelope {
    position: fixed;
    bottom: 20rem;
    right: var(--container-padding);
    width: 48rem;
    aspect-ratio: 1;
    background: #EB058C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;
  }
  .floating-envelope img {
    width: 24rem;
  }
  @media (hover: hover) {
    .floating-envelope:hover {
      transform: scale(1.1);
    }
  }
  .floating-sferum {
    position: fixed;
    bottom: 90rem;
    right: var(--container-padding);
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;
  }
  @media (hover: hover) {
    .floating-sferum:hover {
      background: #788ced;
      transform: scale(1.1);
    }
  }
  .floating-sferum-main {
    position: fixed;
    bottom: 20rem;
    right: var(--container-padding);
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;
  }
  @media (hover: hover) {
    .floating-sferum-main:hover {
      background: #788ced;
      transform: scale(1.1);
    }
  }
  .button-to-up {
    --pos-left: calc((100% - min(100%, 1400px)) / 2);
    position: sticky;
    bottom: 20rem;
    display: flex;
    gap: 3rem;
    align-items: baseline;
    width: max-content;
    margin-left: var(--pos-left);
    font-size: 16rem;
    color: #b8b8b8;
    transition: var(--base-transition);
    transition-property: visibility, opacity;
    transform: translate(-100%, -100%);
  }
  .button-to-up::after {
    content: "";
    width: 6rem;
    aspect-ratio: 6/9;
    background: currentColor;
    mask: url("../img/icons/arrow-up.svg") 50%/contain no-repeat;
  }
  .button-to-up.hidden {
    visibility: hidden;
    opacity: 0;
  }
  @media (width < 1560px) {
    .button-to-up {
      position: fixed;
      left: var(--container-padding);
      width: 48rem;
      aspect-ratio: 1;
      margin: 0;
      background: #EB058C;
      border-radius: 12rem;
      align-items: center;
      justify-content: center;
      gap: 0;
      font-size: 0;
      line-height: 0;
      color: #FFF;
      transform: none;
      box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    }
    .button-to-up::after {
      width: 12rem;
    }
  }
}
@layer components.social-icons {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;
  }
  .social-icons a {
    flex: none;
    width: 42rem;
    aspect-ratio: 1;
    transition: var(--base-transition);
    transition-property: opacity;
  }
  .social-icons a img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .social-icons a:hover {
    opacity: 0.7;
  }
  @media (width < 768px) {
    .social-icons {
      column-gap: 18rem;
      justify-content: center;
    }
  }
}
@layer components.promo {
  .promo-banner {
    margin-bottom: 80rem;
  }
  @media (width < 1025px) {
    .promo-banner {
      margin-bottom: 40rem;
    }
  }
  .promo-link {
    display: block;
    border-radius: 10rem;
    overflow: clip;
  }
  .promo-img {
    display: block;
    width: 100%;
  }
}
@layer components.materials-section {
  .docs {
    display: flex;
    flex-flow: column;
    gap: 32rem;
    list-style: none;
  }
  .docs li {
    display: flex;
    gap: 20rem;
    align-items: flex-start;
  }
  .docs .material-link + .material-link {
    margin: 0;
  }
  @media (width < 768px) {
    .docs .material-link {
      font-size: 16rem;
    }
  }
  .docs-icon {
    flex: none;
    width: 51rem;
  }
  .docs-main {
    display: flex;
    flex-flow: column;
    gap: 10rem;
  }
  .docs-name {
    margin-top: -0.25em;
  }
  .docs-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
  }
}
@layer components.docs-banner {
  .docs-banner {
    box-shadow: 0 1rem 13.8rem rgba(182, 182, 182, 0.25);
    padding: 30rem 40rem;
    border-radius: 14rem;
    background: #FFF;
  }
  @media (width < 768px) {
    .docs-banner {
      padding: 20rem;
    }
  }
  .docs-banner-title {
    width: max-content;
    padding: 6rem 30rem;
    margin: 0 0 30rem;
    font-size: var(--base-font-size);
    font-weight: 500;
    color: #FFF;
    border-radius: 12rem;
    background: #EB058C;
  }
  @media (width < 768px) {
    .docs-banner-title {
      padding: 8rem 20rem;
      margin-bottom: 20rem;
    }
  }
  .docs-banner-section.is-active + .filter-section.is-active {
    margin-top: 76rem;
  }
}
@layer components.classes {
  .classes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25rem;
  }
  @media (width < 1025px) {
    .classes {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (width < 768px) {
    .classes {
      grid-template-columns: none;
      gap: 40rem;
    }
  }
  .classes-item {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    border-radius: 10rem;
    background: #FFF;
    overflow: clip;
  }
  .classes-item-img {
    aspect-ratio: 429/241;
    object-fit: cover;
  }
  .classes-item-bottom {
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: space-between;
    padding: 16rem;
  }
  .classes-item-title {
    padding: 2rem 20rem;
    font-size: var(--base-font-size);
    font-weight: 500;
    color: #FFF;
    background: #EB058C;
    border-radius: 20rem;
  }
  .classes-item-icon {
    color: #EB058C;
  }
  .classes-theme-list {
    display: none;
  }
  .classes-theme-list:target {
    display: block;
  }
  .classes-theme-list-title {
    display: inline-block;
    margin-bottom: 20rem;
  }
  .month-group {
    display: flex;
    flex-direction: column;
    gap: 30rem;
  }
  .month-group .flex.justify-between {
    gap: 25rem;
    justify-content: flex-start;
  }
  .month-group + .month-group {
    margin-top: 160rem;
  }
  @media (768px <= width < 1025px) {
    .month-group {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }
  @media (width < 768px) {
    .month-group .flex.justify-between {
      flex-direction: column-reverse;
      gap: 40rem;
    }
    .month-group + .month-group {
      margin-top: 100rem;
    }
  }
}

/*# sourceMappingURL=style.css.map */
