@use "vars" as *;

@layer layout {
  :root {
    --container-padding: 22rem;

    @media (width < $bp-md) {
      --container-padding: 16rem;
    }
  }

  html {
    scroll-padding-top: min(var(--header-height) + 65rem, 72px + 65px);

    @media (width < $bp-md) {
      scroll-padding-top: min(var(--header-height) + 60rem, 72px + 60px);
    }
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

  .container {
    width: 100%;
    max-width: $bp-2xl;
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;

    &.justify-between {
      justify-content: space-between;
    }
  }
}
