// Color styles
$black: #000;
$white: #FFF;
$gray: #9A9A9A;
$gray-dark: #7F7F7F;
$red: #FF553E;
$pink: #FF94CC;
$orange: #FF883E;
$blue: #63BAFF;
$green: #93E479;
$yellow: #FFCC5B;
$mine-shaft: #383838;
$wild-sand: #F5F5F5;
$pastel-green: #93E479;
$hollywood-cerise: #EB058C;

$yellow-dark: #FBB159; // back of folder
$pink-dark: #F6666C;   // back of folder
$green-dark: #66C847;  // back of folder
$red-dark: #F4462F;    // back of folder
$blue-dark: #48A9F3;   // back of folder
$orange-dark: #F07428; // back of folder

// Layout styles
$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;    // tablet
$bp-lg: 1025px;   // desktop
$bp-xl: 1200px;
$bp-2xl: 1400px;  // default
$bp-3xl: 1920px;
$bp-4xl: 2560px;

// Effect styles
@mixin shadow-default {
  box-shadow: 0 1rem 13.8rem rgba(#B6B6B6, 0.25);
}

@mixin shadow-red {
  box-shadow: 6rem 6rem 30rem rgba($red, 0.15);
}

@mixin shadow-yellow {
  box-shadow: 6rem 6rem 30rem rgba($yellow, 0.15);
}

@mixin shadow-green {
  box-shadow: 6rem 6rem 30rem rgba($green, 0.15);
}

@mixin shadow-pink {
  box-shadow: 6rem 6rem 30rem rgba($pink, 0.15);
}

@mixin shadow-blue {
  box-shadow: 6rem 6rem 30rem rgba($blue, 0.15);
}

@mixin shadow-orange {
  box-shadow: 6rem 6rem 30rem rgba($orange, 0.15);
}
