@use "../vars" as *;
@use "../mixins" as *;

@layer components.filter-section {
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    .flex.justify-between {
      gap: 25rem;
      justify-content: flex-start;
    }

    &.is-active + &.is-active {
      margin-top: 160rem;
    }

    &:not(.is-active) {
      display: none !important;
    }

    @include media-between($bp-md, $bp-lg) {
      padding-right: 72rem;
      padding-left: 72rem;
    }

    @include media-down($bp-md) {
      .flex.justify-between {
        flex-direction: column-reverse;
        gap: 40rem;
      }

      &.is-active + &.is-active {
        margin-top: 100rem;
      }
    }
  }

  .filter-section-header {
    display: flex;
    padding: 9rem 0;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }

  .filter-section-title,
  .filter-section-year {
    font-size: 24rem;
    font-weight: 500;
    text-transform: lowercase;
    color: var(--base-color);
  }

  .filter-section-title {
    margin: 0;
  }
}
