@use "../vars" as *;
@use "../mixins" as *;

@layer components.floating {
  .floating-envelope {
    position: fixed;
    bottom: 20rem;
    right: var(--container-padding);
    width: 48rem;
    aspect-ratio: 1;
    background: $hollywood-cerise;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;

    img {
      width: 24rem;
    }

    @include media-hover {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .floating-sferum {
    position: fixed;
    bottom: 90rem;
    right: var(--container-padding);
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;

    @include media-hover {
      &:hover {
        background: #788ced;
        transform: scale(1.1);
      }
    }
  }

  .floating-sferum-main {
    position: fixed;
    bottom: 20rem;
    right: var(--container-padding);
    width: 60rem;
    height: 60rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    transition: var(--base-transition);
    transition-property: background, transform;
    text-decoration: none;

    @include media-hover {
      &:hover {
        background: #788ced;
        transform: scale(1.1);
      }
    }
  }

  .button-to-up {
    --pos-left: #{calc((100% - min(100%, $bp-2xl)) / 2)};

    position: sticky;
    bottom: 20rem;
    display: flex;
    gap: 3rem;
    align-items: baseline;
    width: max-content;
    margin-left: var(--pos-left);
    font-size: 16rem;
    color: #b8b8b8;
    transition: var(--base-transition);
    transition-property: visibility, opacity;
    transform: translate(-100%, -100%);

    &::after {
      content: "";
      width: 6rem;
      aspect-ratio: 6 / 9;
      background: currentColor;
      mask: url("../img/icons/arrow-up.svg") 50% / contain no-repeat;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    @media (width < 1560px) {
      position: fixed;
      left: var(--container-padding);
      width: 48rem;
      aspect-ratio: 1;
      margin: 0;
      background: $hollywood-cerise;
      border-radius: 12rem;
      align-items: center;
      justify-content: center;
      gap: 0;
      font-size: 0;
      line-height: 0;
      color: $white;
      transform: none;
      box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);

      &::after {
        width: 12rem;
      }
    }
  }
}
