@use "../vars" as *;
@use "../mixins" as *;

@layer components.hero-section {
  .hero-section {
    position: relative;
    margin: 60rem 0 80rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      width: 100%;
      aspect-ratio: 1512 / 478;
      background: url("../img/flag.svg") 50% / contain no-repeat;
      transform: translateY(-50%);
    }

    @media (width < $bp-lg) {
      margin-top: 26rem;
      margin-bottom: 26rem;

      &::before {
        top: 0;
        transform: none;
      }
    }
  }

  .hero-section-body {
    @include shadow-default;

    display: grid;
    grid-template-areas:
      "header links"
      "main links";
    grid-template-columns: 620rem 457rem;
    justify-content: space-between;
    gap: 30rem 24rem;
    padding: 60rem;
    border-radius: 14rem;
    background: $white;

    @media (width < $bp-lg) {
      grid-template-areas:
        "header"
        "main"
        "links";
      grid-template-columns: none;
    }
  }

  .hero-section-header {
    grid-area: header;
  }

  .hero-section-title {
    width: min(387rem, 100%);
    aspect-ratio: 387 / 117;
    max-width: 100%;
    font-size: 0;
    line-height: 0;
    background: $red;
    mask: url("../img/hero-title.svg") 50% / contain no-repeat;
  }

  .hero-section-main {
    grid-area: main;
  }

  .hero-section-text {
    p {
      @include nlc {
        margin-bottom: 1em;
      }
    }

    @media (width < $bp-lg) {
      font-size: 18rem;
    }
  }

  .hero-section-text-info {
    margin-top: 60rem;
    font-size: 20rem;
    line-height: calc(24 / 20);
    color: #7F7F7F;

    p {
      @include nlc {
        margin-bottom: 0.5em;
      }
    }

    @media (width < $bp-lg) {
      font-size: 14rem;
    }
  }

  .hero-section-links {
    grid-area: links;

    @media (width < $bp-lg) {
    }
  }

  .hero-section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem 12rem;

    @media (width < $bp-lg) {
      max-width: calc(100% - 160rem);
    }

    @media (width < $bp-md) {
      max-width: none;
    }
  }

  .hero-section-tag {
    --height: 40rem;
    --line-height: 1.25;
    --padding-y: #{calc((var(--height) - 2px - var(--line-height) * 1em) / 2)};
    --padding-x: 20rem;

    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 12rem;
    border: 1px solid currentColor;

    @media (width < $bp-md) {
      --height: 29rem;
      --padding-x: 14rem;

      font-size: 16rem;
      border-radius: 8rem;
    }
  }

  // `hero-internal`
  .hero-internal {
    margin-bottom: 76rem;

    &:has(.hero-title-internal) {
      display: grid;
      grid-template-columns: 535fr 736fr;
      gap: 75rem;
      margin-bottom: 158rem;

      .hero-links-internal {
        gap: 10rem;
      }
    }

    @include media-between($bp-md, $bp-lg) {
      &:not(:has(.hero-title-internal)) {
        padding-right: 72rem;
        padding-left: 72rem;
      }
    }

    @include media-down($bp-lg) {
      &:has(.hero-title-internal) {
        position: relative;
        grid-template-columns: none;
        gap: 32rem;
        padding-top: 58rem;
        margin-bottom: 100rem;
      }
    }

    @include media-down($bp-md) {
      &:not(:has(.hero-title-internal)) {
        .hero-links-internal {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(160rem, 1fr));
        }

        .hero-link-internal {
          --padding-x: 12rem;

          font-size: 16rem;
        }
      }

      &:has(.hero-title-internal) {
        padding-top: 51rem;
        margin-bottom: 86rem;

        .hero-links-internal {
          gap: 8rem;
        }
      }
    }
  }

  .hero-text-internal {
    display: flex;
    flex-direction: column;
  }

  .hero-date-internal {
    --height: 38rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    width: max-content;
    padding: var(--padding-y) var(--padding-x);
    margin-bottom: 20rem;
    font-size: 20rem;
    line-height: var(--line-height);
    color: $white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12rem;
    background: $blue;

    @include media-down($bp-lg) {
      position: absolute;
      top: 0;
    }

    @media (width < $bp-md) {
      --height: 31rem;

      font-size: 16rem;
    }
  }

  .hero-title-internal {
    margin-bottom: 50rem;
    font-size: 32rem;
    line-height: 1.25;

    @media (width < $bp-lg) {
      font-size: 24rem;
    }

    @media (width < $bp-md) {
      margin-bottom: 28rem;
      font-size: 18rem;
    }
  }

  .hero-subtitle-internal {
    margin-top: auto;
    margin-bottom: 20rem;
    font-size: 20rem;
    line-height: 1.25;
    color: $gray;

    @media (width < $bp-md) {
      font-size: 16rem;
    }
  }

  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;

    @include media-down($bp-md) {
      gap: 8rem;
    }
  }

  .hero-link-internal {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    padding: var(--padding-y) var(--padding-x);
    max-width: 100%;
    font-size: 20rem;
    line-height: var(--line-height);
    color: $blue;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid $blue;
    border-radius: 32rem;
    transition: var(--base-transition);
    transition-property: color, background-color;

    @include media-hover {
      &:hover {
        color: $white;
        background-color: $blue;
      }
    }

    &.active {
      color: $white;
      background-color: $blue;
    }

    @include media-down($bp-md) {
      --height: 33rem;

      font-size: 18rem;
    }
  }

  // `internal`
  .internal-h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 28rem;
    color: #171d38;

    @media (width < $bp-md) {
      font-size: 22rem;
    }
  }

  .internal-image {
    img {
      @include shadow-blue;

      display: block;
      width: 100%;
      min-height: 100%;
      aspect-ratio: 746 / 450;
      object-fit: contain;
      border-radius: 14rem;
    }

    @include media-down($bp-lg) {
      grid-row: 1;
    }
  }
}
