@use "../vars" as *;
@use "../mixins" as *;

@layer components.materials-section {
  .materials-section {
    & + & {
      margin-top: 100rem;
    }

    @include media-down($bp-md) {
      & + & {
        margin-top: 60rem;
      }
    }
  }

  .materials-header {
    display: flex;
    gap: 24rem;
    align-items: flex-start;
    justify-content: space-between;

    .internal-h2 {
      padding: 16rem 20rem 60rem;
      margin-top: 0;
      margin-bottom: -36rem;
      font-size: 20rem;
      font-weight: 400;
      line-height: 14rem;
      color: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 12rem;
      background: $hollywood-cerise;
    }

    @include media-down($bp-md) {
      flex-direction: column;
      gap: 0;
      align-items: initial;

      .internal-h2 {
        padding-bottom: 50rem;
        font-size: 18rem;
        line-height: 13rem;
        text-align: center;
      }
    }
  }

  .materials-content {
    @include shadow-default;

    position: relative;
    padding: 60rem 108rem 80rem;
    border-radius: 14rem;
    background: $white;

    @include media-down($bp-lg) {
      padding-right: 60rem;
      padding-left: 60rem;
    }

    @include media-down($bp-md) {
      padding-top: 86rem;
      padding-right: 16rem;
      padding-left: 16rem;
      margin-top: -54rem;
    }
  }

  .material-column-header {
    --interval-y: 60rem;

    display: flex;
    align-items: center;
    gap: 20rem;
    margin-bottom: 32rem;

    & ~ & {
      padding-top: var(--interval-y);
      border-top: 1px solid $wild-sand;
      margin-top: var(--interval-y);
    }

    @include media-down($bp-lg) {
      --interval-y: 40rem;
    }
  }

  .materials-column {
    margin-bottom: -32rem;
    column-count: 3;
    column-gap: 60rem;

    &:not(:has(.material-item)) {
      display: none;
    }

    @include media-down($bp-lg) {
      column-count: 2;
    }

    @include media-down($bp-md) {
      column-count: 1;
    }
  }

  .material-icon {
    flex-shrink: 0;
    width: 46rem;
    aspect-ratio: 46 / 34;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .material-title {
    margin: 0;
    font-size: 24rem;
    font-weight: 500;
    color: $hollywood-cerise;

    @include media-down($bp-md) {
      font-size: 18rem;
    }
  }

  .material-item {
    padding-bottom: 32rem;
    page-break-inside: avoid;

    > strong {
      display: block;
      font-size: 20rem;
      line-height: 1.25;
      font-weight: 400;

      @include nlc {
        margin-bottom: 10rem;
      }
    }

    p {
      font-size: 16rem;
      line-height: calc(30 / 2 / 16);
      color: $gray;

      @include nlc {
        margin-bottom: 10rem;
      }

      &:has(+ p) {
        margin-bottom: 0;
      }
    }

    @include media-down($bp-md) {
      > strong {
        font-size: 18rem;
      }
    }
  }

  .material-link {
    display: inline-flex;
    gap: 10rem;
    align-items: center;
    font-size: 20rem;
    line-height: 1.2;
    color: $blue;
    text-decoration: none;
    text-transform: lowercase;
    transition: var(--base-transition);
    transition-property: color, background-color;

    img {
      flex: none;
      width: 18rem;
      height: 18rem;
      object-fit: contain;
    }

    & + & {
      margin-left: 16rem;
    }

    &:hover {
      text-decoration: underline;
    }

    @include media-down($bp-md) {
      font-size: 18rem;
    }
  }

  .materials-download {
    flex: none;

    @include media-down($bp-md) {
      position: relative;
      z-index: 1;
      padding-top: 20rem;
      text-align: center;
    }
  }

  .materials-button {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    display: inline-block;
    vertical-align: top;
    gap: 10rem;
    max-width: 100%;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    line-height: 1.25;
    color: $hollywood-cerise;
    text-decoration: none;
    text-transform: lowercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid $hollywood-cerise;
    border-radius: 32rem;
    user-select: none;
    transition: var(--base-transition);
    transition-property: color, background-color;

    img {
      display: none;
      flex: none;
      width: 20rem;
      height: 20rem;
      transition: inherit;
      transition-property: filter;
    }

    @include media-hover {
      &:hover {
        color: $white;
        background-color: $hollywood-cerise;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    @include media-down($bp-md) {
      --height: 34rem;

      font-size: 18rem;
    }
  }
}
