@use "../vars" as *;
@use "../mixins" as *;

@layer components.breadcrumbs {
  .breadcrumbs {
    position: sticky;
    top: calc(var(--header-height, 92rem) - 25rem);
    padding-top: 50rem;
    padding-bottom: 25rem;
    margin-bottom: 25px;
    font-size: 20rem;
    line-height: 1.25;
    color: $gray;
    background: $white;

    ul {
      display: flex;
      gap: 16rem;
      list-style: none;
    }

    li {
      display: flex;
      gap: inherit;

      &:first-child {
        min-width: min-content;

        a {
          display: flex;
          gap: 10rem;
          align-items: center;

          &::before {
            content: "";
            flex: none;
            width: 18rem;
            aspect-ratio: 18 / 8;
            background: currentColor;
            mask: url("../img/arrow-left.svg") 50% / 12rem no-repeat;
          }
        }
      }

      &:not(:last-child)::after {
        content: "/";
        flex: none;
      }
    }

    a {
      color: $blue;
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include media-down($bp-md) {
      top: var(--header-height, 74rem);
      padding-top: 20rem;
      padding-bottom: 20rem;
      margin-bottom: 20rem;
      font-size: 16rem;

      ul {
        gap: 6rem;
      }
    }
  }
}
