@use "../vars" as *;

@layer components.breadcrumbs {
  .breadcrumbs {
    margin: 30rem auto;
    font-size: 14rem;

    ul {
      display: flex;
      gap: 10rem;
      list-style: none;
    }

    li {
      &::after {
        content: "/";
        margin: 0 5rem;
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }

    a {
      color: #515cb0;
      text-decoration: none;
    }
  }
}
