@use "../vars" as *;
@use "../mixins" as *;

@layer components.card {
  .card {
    @include shadow-blue;

    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 25rem * 3) / 4);
    margin-top: 36rem;
    border-radius: 14rem;
    background: $white;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      pointer-events: none;
      transition: var(--base-transition);
      transition-property: box-shadow;
    }

    .date-overlay {
      width: max-content;
      padding: 12rem 20rem 42rem;
      margin: -36rem 0 -32rem;
      font-size: 20rem;
      font-weight: 500;
      line-height: 14rem;
      color: $blue;
      border-radius: 12rem 12rem 0 0;
      background: transparent;
      border: 1px solid currentColor;
    }

    img {
      width: 100%;
      aspect-ratio: 320 / 193;
      margin-bottom: 8rem;
      object-fit: contain;
      border-radius: inherit;
    }

    :is(h2, h3) {
      padding: 12rem 12rem 20rem;
      flex: 1;
      font-size: 20rem;
      font-weight: 400;
      border-radius: 0 0 12rem 12rem;
    }

    @include media-hover {
      &:hover {
        &::before {
          box-shadow: 0 -1px $blue inset;
        }
      }
    }

    @include media-down($bp-lg) {
      flex-basis: calc((100% - 25rem) / 2);
    }

    @include media-down($bp-md) {
      .date-overlay {
        font-size: 18rem;
        line-height: 13rem;
      }

      :is(h2, h3) {
        font-size: 18rem;
      }
    }
  }
}
