@use "../vars" as *;

@layer components.filter-section {
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 44rem;
    margin-bottom: 160rem;

    &:not(.is-active) {
      display: none;
    }

    @media (width < $bp-lg) {
      .flex.justify-between {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .filter-section-header {
    display: flex;
    gap: 24rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  .filter-section-title {
    &:where(img) {
      display: block;
      height: 97rem;
    }
  }

  .filter-section-year {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    padding: var(--padding-y) var(--padding-x);

  }
}
