@use "../vars" as *;
@use "../mixins" as *;

@layer components.filter-section {
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    .flex.justify-between {
      gap: 25rem;
      justify-content: flex-start;
    }

    &.is-active + &.is-active {
      margin-top: 160rem;
    }

    &:not(.is-active) {
      display: none;
    }

    @include media-between($bp-md, $bp-lg) {
      padding-right: 72rem;
      padding-left: 72rem;
    }

    @include media-down($bp-md) {
      .flex.justify-between {
        flex-direction: column-reverse;
        gap: 40rem;
      }

      &.is-active + &.is-active {
        margin-top: 100rem;
      }
    }
  }

  .filter-section-header {
    display: flex;
    gap: 24rem;
    align-items: center;
    justify-content: space-between;
  }

  .filter-section-title {
    &:where(img) {
      display: block;
      height: 97rem;
    }

    @include media-down($bp-md) {
      &:where(img) {
        height: 76rem;
      }
    }
  }

  .filter-section-year {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    flex: none;
    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    color: $blue;
    border: 1px solid $blue;
    border-radius: 12rem;

    @include media-down($bp-md) {
      --height: 31rem;
      --padding-x: 16rem;

      font-size: 16rem;
      border-radius: 8rem;
    }
  }
}
