@use "../vars" as *;

@layer components.floating {
  .floating-envelope {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #515cb0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: #788ced;
      transform: scale(1.1);
    }
  }

  .floating-sferum {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;

    &:hover {
      background: #788ced;
      transform: scale(1.1);
    }
  }

  .floating-sferum-main {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
    text-decoration: none;

    &:hover {
      background: #788ced;
      transform: scale(1.1);
    }
  }
}
