@use "../vars" as *;
@use "../mixins" as *;

@layer components.footer {
  .footer {
    padding: 50rem 0;
    margin-top: 80rem;
    font-size: 16rem;
    line-height: 1.25;
    color: $white;
    border-radius: 14rem 14rem 0 0;
    background: $blue;

    .container {
      display: flex;
      gap: 24rem;
      align-items: center;
      justify-content: space-between;
    }

    @include media-down($bp-md) {
      .container {
        display: flex;
        flex-direction: column;
        gap: 80rem;
        align-items: initial;
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 22rem;

    @include media-down($bp-md) {
      order: 1;
      text-align: center;
    }
  }

  .footer-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;
    justify-content: flex-end;

    a {
      flex: none;

      img {
        display: block;
        width: 100%;
      }

      &:nth-child(1) {
        width: 62rem;
      }

      &:nth-child(2) {
        width: 158rem;
      }

      &:nth-child(3) {
        width: 174rem;
        filter: brightness(0) invert(1);
      }
    }

    @include media-down($bp-md) {
      justify-content: center;
    }
  }
}
