@use "../vars" as *;

@layer components.footer {
  .footer {
    background-color: #515cb0;
    color: #fff;
    padding: 40px 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;

    a {
      img {
        max-width: 150px;
        height: auto;
        display: inline-block;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @media (width < $bp-lg) {
      a {
        img {
          margin-bottom: 10px;
        }
      }

      .container {
        flex-direction: column;
        text-align: left;
      }
    }

    @media (width < $bp-sm) {
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 8px;

      a {
        img {
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    p {
      margin-bottom: 10px;
    }

    @media (width < $bp-sm) {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  .footer-logos {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media (width < $bp-lg) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 20px;
    }

    @media (width < $bp-sm) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 15px;
    }
  }
}
