@use "../vars" as *;

@layer components.footer {
  .footer {
    background-color: #515cb0;
    color: #fff;
    padding: 40rem 0 20rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80rem;

    a {
      img {
        max-width: 150rem;
        height: auto;
        display: inline-block;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @media (width < $bp-lg) {
      a {
        img {
          margin-bottom: 10rem;
        }
      }

      .container {
        flex-direction: column;
        text-align: left;
      }
    }

    @media (width < $bp-md) {
      flex-direction: column;
      align-items: flex-start;
      padding: 60rem 8rem;

      a {
        img {
          margin-bottom: 10rem;
        }
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16rem;

    p {
      margin-bottom: 10rem;
    }

    @media (width < $bp-md) {
      margin-bottom: 20rem;
      margin-left: 0;
    }
  }

  .footer-logos {
    display: flex;
    gap: 20rem;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media (width < $bp-lg) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 16rem;
      margin-top: 20rem;
    }

    @media (width < $bp-md) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 12rem;
      margin-top: 15rem;
    }
  }
}
