@use "../vars" as *;

@layer components.header {
  .header {
    @include blue-shadow;

    position: sticky;
    top: 0;
    z-index: 100;
    height: 92px;
    padding: 24px 0;
    background-color: $white;

    .container {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    .logo {
      &:nth-child(1) {
        width: 52px;
      }

      &:nth-child(2) {
        width: 43px;
      }

      &:nth-child(3) {
        width: 143px;
        margin-left: auto;
      }
    }
  }
}
