@use "../vars" as *;

@layer components.header {
  :root {
    --header-height: 92rem;

    @media (width < $bp-md) {
      --header-height: 74rem;
    }
  }

  .header {
    @include shadow-blue;

    & {
      position: sticky;
      top: 0;
      z-index: 100;
      height: var(--header-height);
      padding: 12rem 0;
      background-color: $white;
    }

    .container {
      display: flex;
      gap: 24rem;
      align-items: center;
      height: 100%;
    }

    .logo {
      &:nth-child(1) {
        width: 52rem;
      }

      &:nth-child(2) {
        width: 43rem;
      }

      &:nth-child(3) {
        width: 143rem;
        margin-left: auto;
      }
    }

    @media (width < $bp-md) {
      .container {
        gap: 14rem;
      }

      .logo {
        &:nth-child(1) {
          width: 30rem;
        }

        &:nth-child(2) {
          width: 25rem;
        }

        &:nth-child(3) {
          width: 83rem;
        }
      }
    }
  }
}
