@use "../vars" as *;

@layer components.hero-section {
  .hero-section {
    background-color: #515cb0;
    color: #fff;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @media (width < $bp-lg) {
      padding: 30px 15px;

      .container {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media (width < $bp-sm) {
      padding: 20px 8px;
    }
  }

  .hero-internal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;

    @media (width < $bp-lg) {
      flex-direction: column-reverse;
    }
  }

  .hero-text {
    max-width: 500px;
    margin: 0;
    text-align: left;

    h1 {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 15px;
    }

    @media (width < $bp-lg) {
      text-align: left;
      margin-top: 20px;

      h1 {
        font-size: 2.5rem;
      }
    }

    @media (width < $bp-sm) {
      text-align: left;

      h1 {
        font-size: 1.8rem;
      }
    }

    @media (width <= $bp-xs) {
      h1 {
        font-size: 1.6rem;
      }
    }
  }

  .hero-text-internal {
    flex: 2;
    max-width: 60%;

    @media (width < $bp-lg) {
      max-width: 100%;
    }
  }

  .hero-date-internal {
    font-size: 1.2rem;
    color: #515cb0;
    margin-bottom: 5px;
  }

  .hero-title-internal {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #171d38;

    @media (width < $bp-sm) {
      font-size: 1.8rem;
    }
  }

  .hero-subtitle-internal {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #171d38;
  }

  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .hero-link-internal {
    padding: 5px 10px;
    border: 1px solid #515cb0;
    border-radius: 10px;
    text-decoration: none;
    color: #515cb0;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background: #515cb0;
      color: #fff;
    }

    &.active {
      background-color: #515cb0;
      color: #fff;
    }
  }

  .hero-image {
    img {
      max-width: 80%;
      height: auto;
      object-fit: contain;
    }

    @media (width < $bp-lg) {
      text-align: center;
      margin: 0 auto;

      img {
        max-width: 70%;
        max-height: 300px;
        height: auto;
      }
    }

    @media (width < $bp-sm) {
      img {
        max-width: 80%;
        max-height: 250px;
        height: auto;
      }
    }
  }

  .internal-h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #171d38;

    @media (width < $bp-sm) {
      font-size: 1.4rem;
    }
  }

  .internal-image {
    flex: 1;
    max-width: 35%;
    height: auto;
    align-self: flex-start;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    @media (width < $bp-lg) {
      max-width: 100%;
      margin-top: 20px;
    }
  }
}
