@use "../vars" as *;
@use "../mixins" as *;

@layer components.hero-section {
  .hero-section {
    margin: 24rem 0 128rem;

    @media (width < $bp-lg) {
      margin-bottom: 96rem;
    }

    @media (width < $bp-md) {
      margin-top: 0;
      margin-bottom: 72rem;
    }
  }

  .hero-section-body {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 42rem;
    padding: 50rem;
    color: $white;
    border-radius: 14rem;
    background: $blue;

    @media (width < $bp-md) {
      gap: 20rem;
      padding: 35rem 16rem 50rem;
      margin-inline: -16rem;
      border-radius: 0;
    }
  }

  .hero-section-decor {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    img {
      position: absolute;

      &:nth-child(1) {
        top: -44rem;
        right: -25rem;
        width: 229rem;
      }

      &:nth-child(2) {
        top: 130rem;
        right: 156rem;
        width: 124rem;
      }

      &:nth-child(3) {
        top: 27rem;
        right: 285rem;
        width: 162rem;
      }

      &:nth-child(4) {
        top: 100%;
        left: 50%;
        width: 18rem;
        transform: translateX(-50%);
      }
    }

    @media (width < $bp-lg) {
      img {
        &:nth-child(1) {
          top: -40rem;
          right: -46rem;
        }

        &:nth-child(2) {
          top: 120rem;
          right: 139rem;
        }

        &:nth-child(3) {
          top: auto;
          right: 28rem;
          bottom: 26rem;
        }
      }
    }

    @media (width < $bp-md) {
      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          top: auto;
          right: 16rem;
          bottom: 172rem;
          width: 76rem;
        }

        &:nth-child(3) {
          right: 9rem;
          bottom: 8rem;
          width: 96rem;
        }
      }
    }
  }

  .hero-section-header {
    max-width: calc(720 / (720 + 536) * 100%);

    @media (width < $bp-lg) {
      max-width: calc(100% - 220rem);
    }

    @media (width < $bp-md) {
      max-width: none;
    }
  }

  .hero-section-title {
    &:where(img) {
      display: block;
      height: 117rem;
      max-width: 100%;
    }

    @media (width < $bp-lg) {
      &:where(img) {
        height: 115rem;
      }
    }

    @media (width < $bp-md) {
      &:where(img) {
        width: 100%;
        height: auto;
        max-width: 387rem;
        margin-inline: auto;
      }
    }
  }

  .hero-section-main {
    display: grid;
    grid-template-columns: 720fr 536fr;
    min-height: 200rem;
    border-radius: 10rem;
    overflow: clip;

    @media (width < $bp-lg) {
      grid-template-columns: none;
    }
  }

  .hero-section-text {
    padding: 50rem;
    font-size: 24rem;
    line-height: calc(26 / 24);
    color: var(--body-color);
    background: $white;

    p {
      @include nlc {
        margin-bottom: 1em;
      }
    }

    @media (width < $bp-md) {
      padding: 20rem;
      font-size: 18rem;
      line-height: calc(167 / 8 / 18);
    }
  }

  .hero-section-text-info {
    margin-top: 32rem;
    font-size: 20rem;
    line-height: calc(19 / 20);
    color: #7F7F7F;

    @media (width < $bp-lg) {
      margin-top: 24rem;
    }

    @media (width < $bp-md) {
      font-size: 16rem;
      line-height: calc(49 / 3 / 16);
    }
  }

  .hero-section-image {
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (width < $bp-lg) {
      grid-row: 1;
      aspect-ratio: 670 / 344;
    }

    @media (width < $bp-md) {
      aspect-ratio: 288 / 162;
    }
  }

  .hero-section-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem 12rem;

    @media (width < $bp-lg) {
      max-width: calc(100% - 160rem);
    }

    @media (width < $bp-md) {
      max-width: none;
    }
  }

  .hero-section-tag {
    --height: 40rem;
    --line-height: 1.25;
    --padding-y: #{calc((var(--height) - 2px - var(--line-height) * 1em) / 2)};
    --padding-x: 20rem;

    padding: var(--padding-y) var(--padding-x);
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 12rem;
    border: 1px solid currentColor;

    @media (width < $bp-md) {
      --height: 29rem;
      --padding-x: 14rem;

      font-size: 16rem;
      border-radius: 8rem;
    }
  }

  .hero-internal {
    margin-bottom: 76rem;

    @include media-between($bp-md, $bp-lg) {
      padding-right: 72rem;
      padding-left: 72rem;
    }
  }

  .hero-text-internal {
  }

  .hero-date-internal {
    font-size: 19rem;
    color: #515cb0;
    margin-bottom: 5rem;
  }

  .hero-title-internal {
    font-size: 40rem;
    margin-bottom: 15rem;
    color: #171d38;

    @media (width < $bp-md) {
      font-size: 28rem;
    }
  }

  .hero-subtitle-internal {
    font-size: 16rem;
    margin-bottom: 10rem;
    color: #171d38;
  }

  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;

    @include media-down($bp-md) {
      flex-direction: column;
      align-content: center;
    }
  }

  .hero-link-internal {
    --height: 42rem;
    --line-height: 1.25;
    --padding-y: calc((var(--height) - 2px - var(--line-height) * 1em) / 2);
    --padding-x: 20rem;

    padding: var(--padding-y) var(--padding-x);
    max-width: 100%;
    font-size: 20rem;
    font-weight: 500;
    line-height: var(--line-height);
    color: $blue;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid $blue;
    border-radius: 32rem;
    transition: var(--base-transition);
    transition-property: color, background-color;

    @include media-hover {
      &:hover {
        color: $white;
        background-color: $blue;
      }
    }

    &.active {
      color: $white;
      background-color: $blue;
    }

    @include media-down($bp-md) {
      --height: 33rem;

      font-size: 18rem;
    }
  }

  .internal-h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 28rem;
    color: #171d38;

    @media (width < $bp-md) {
      font-size: 22rem;
    }
  }

  .internal-image {
    flex: 1;
    max-width: 35%;
    height: auto;
    align-self: flex-start;

    img {
      width: 100%;
      height: auto;
      border-radius: 10rem;
    }

    @media (width < $bp-lg) {
      max-width: 100%;
      margin-top: 20rem;
    }
  }
}
