@use "../vars" as *;
@use "../mixins" as *;

@layer components.hero-section {
  .hero-section {
    margin: 24rem 0 128rem;
  }

  .hero-section-body {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 720fr 536fr;
    row-gap: 42rem;
    padding: 50rem;
    color: $white;
    border-radius: 14rem;
    background: $blue;

    @media (width < $bp-lg) {
    }

    @media (width < $bp-md) {
      gap: 20rem;
      padding: 35rem 16rem 50rem;
    }
  }

  .hero-decor {
    pointer-events: none;

    img {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        top: -44rem;
        right: -25rem;
        width: 229rem;
      }

      &:nth-child(2) {
        top: 130rem;
        right: 156rem;
        width: 124rem;
      }

      &:nth-child(3) {
        top: 27rem;
        right: 285rem;
        width: 162rem;
      }
    }
  }

  .hero-title {
    grid-column: 1 / -1;
    max-width: 50%;

    &:where(img) {
      height: 117rem;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    gap: 32rem;
    padding: 50rem;
    border-radius: 10rem 0 0 10rem;
    background: $white;

    p {
      @include nlc {
        margin-bottom: 1em;
      }
    }
  }

  .hero-image {
    width: 100%;
    object-fit: cover;
    border-radius: 0 10rem 10rem 0;
  }

  .hero-internal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20rem;
    margin-bottom: 30rem;

    @media (width < $bp-lg) {
      flex-direction: column-reverse;
    }
  }

  .hero-text-internal {
    flex: 2;
    max-width: 60%;

    @media (width < $bp-lg) {
      max-width: 100%;
    }
  }

  .hero-date-internal {
    font-size: 19rem;
    color: #515cb0;
    margin-bottom: 5rem;
  }

  .hero-title-internal {
    font-size: 40rem;
    margin-bottom: 15rem;
    color: #171d38;

    @media (width < $bp-md) {
      font-size: 28rem;
    }
  }

  .hero-subtitle-internal {
    font-size: 16rem;
    margin-bottom: 10rem;
    color: #171d38;
  }

  .hero-links-internal {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
  }

  .hero-link-internal {
    padding: 5rem 10rem;
    border: 1px solid #515cb0;
    border-radius: 10rem;
    text-decoration: none;
    color: #515cb0;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background: #515cb0;
      color: #fff;
    }

    &.active {
      background-color: #515cb0;
      color: #fff;
    }
  }

  .internal-h2 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 28rem;
    color: #171d38;

    @media (width < $bp-md) {
      font-size: 22rem;
    }
  }

  .internal-image {
    flex: 1;
    max-width: 35%;
    height: auto;
    align-self: flex-start;

    img {
      width: 100%;
      height: auto;
      border-radius: 10rem;
    }

    @media (width < $bp-lg) {
      max-width: 100%;
      margin-top: 20rem;
    }
  }
}
