@use "../vars" as *;

@layer components.materials-section {
  .materials-section {
    border: 1px solid #515cb0;
    border-radius: 10rem;
    padding: 20rem 40rem;
    margin-top: 30rem;
    font-size: 18rem;
  }

  .materials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

    @media (width < $bp-lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10rem;
    }
  }

  .materials-content {
    display: flex;
    gap: 40rem;
    flex-wrap: wrap;
  }

  .materials-column {
    flex: 1;
    min-width: 300rem;
  }

  .material-column-header {
    display: flex;
    justify-content: flex-start;
  }

  .material-icon {
    background: #515cb0;
    width: 50rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 25rem;

    img {

      height: auto;
      transform: scale(0.8);
    }
  }

  .material-item {
    margin-bottom: 20rem;

    p {
      font-size: 16rem;
      color: #555;
    }

    strong {
      font-size: 19rem;
      color: #171d38;
    }
  }

  .material-link {
    display: inline-flex;
    align-items: center;
    gap: 10rem;
    text-decoration: none;
    color: #515cb0;
    font-size: 16rem;
    transition: color 0.3s, background 0.3s;
    margin-top: 10rem;

    img {
      width: 16rem;
      height: 16rem;
    }

    &:hover {
      text-decoration: underline;
      color: #5965c1;
    }
  }

  .materials-download {
    margin-left: auto;

    @media (width < $bp-lg) {
      margin-left: 0;
    }
  }

  .materials-button {
    display: inline-flex;
    align-items: center;
    padding: 10rem 15rem;
    background: #fff;
    border: 1px solid #515cb0;
    border-radius: 10rem;
    text-decoration: none;
    color: #515cb0;
    font-size: 16rem;
    gap: 10rem;
    transition: background 0.3s, color 0.3s;

    img {
      width: 20rem;
      height: 20rem;
      transition: filter 0.3s;
    }

    &:hover {
      background: #515cb0;
      color: #fff;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
