@use "../vars" as *;

@layer components.notification {
  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #6a80f5, #515cb0);
    color: white;
    padding: 20rem 40rem;
    border-radius: 10rem;
    box-shadow: 0 8rem 12rem rgba(0, 0, 0, 0.2);
    font-size: 19rem;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;

    @media (width < $bp-lg) {
      width: 90%;
      padding: 15rem 20rem;
      font-size: 16rem;
      border-radius: 8rem;
    }

    @media (width < $bp-md) {
      width: 95%;
      font-size: 14rem;
    }
  }
}
