@use "../vars" as *;

@layer components.promo {
  .promo-banner {
    padding: 40rem 0;
    text-align: center;

    @media (width < $bp-md) {
      padding: 25rem 0;
    }
  }

  .promo-link {
    display: inline-block;
  }

  .promo-img {
    width: 100%;
    max-width: 1400rem;
    height: auto;
    display: block;
  }
}
