@use "../vars" as *;
@use "../mixins" as *;

@layer components.social-icons {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 18rem 32rem;
    align-items: center;

    a {
      flex: none;
      width: 42rem;
      aspect-ratio: 1;
      transition: var(--base-transition);
      transition-property: opacity;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    @include media-down($bp-md) {
      column-gap: 18rem;
      justify-content: center;
    }
  }
}
