@use "../vars" as *;

@layer components.social-icons {
  .social-icons {
    display: flex;
    gap: 20px;
    margin: 0;

    a {
      img {
        width: 28px;
        height: 28px;
        margin-left: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {
        img {
          opacity: 0.7;
        }
      }
    }
  }
}
